<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   
</head>
<body>

<button class="layui-btn  layui-btn-normal" id="addSiteKv" data-type="getInfo">
	<i class="layui-icon layui-icon-add-1"></i>新增
</button>

<button class="layui-btn layui-btn layui-btn-danger" id="deleteSiteKv" data-type="getInfo">
	<i class="layui-icon layui-icon-ok"></i>删除
</button>

<table class="layui-table" id="table" lay-filter="siteKv"></table>

<script th:inline="none">
	var rewardList = [];
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		var siteKvData = [];
		
		$.ajax({ 
			url: "/siteKv/getList", 
			dataType: 'json',
			success: function(result){
				siteKvData = result.data;
				table.render({
				  elem: '#table'
				  ,data: siteKvData
				  ,height: 700
				  ,limit: 100
				  ,cols: [[ //表头
				  	  {type:'checkbox', fixed: 'left'}
				     ,{field:'id', title: 'ID', width:80, sort: true}
				     ,{field:'keyCnName', title: '站点键值中文名称', edit: 'text'}
				     ,{field:'keyEnName', title: '站点键值英文名称', edit: 'text'}
				     ,{field:'descr', title: '描述', edit: 'text'}
				     ,{field:'createTime', title: '创建时间', templet:
						function (row){
							return createTime(row.createTime);
		      			}
				     }
// 				     ,{field:'createPerson',title:'创建人'}
				  ]]
					
				});
			}
		});
		
		
		//监听单元格编辑
		table.on('edit(siteKv)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			saveOrEdit(data);
			
		});
		  
		//监听删除按钮
		$('#deleteSiteKv').on('click', function(){
			var checkStatus = table.checkStatus('table');
			var data = checkStatus.data;
			del(data);
		});
		
		//删除
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(data[i].id != null && data[i].id != ""){
	        		if(i == 0){
		        		ids = data[i].id;
		        	}else{
		        		ids += "," + data[i].id;
		        	}
	        	}
	        }
        	
        	$.ajax({ 
				url: "/siteKv/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					
					if(result.code == "000000"){
						
					}
					reload();
					layer.msg(result.msg);
					
				}
			});
		}
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
// 			alert(JSON.stringify(data));
			if(data.keyEnName == null || data.keyEnName == ""){
				return false;
			}else if(data.keyCnName == null || data.keyCnName == ""){
				return false;
			}
			var url = "/siteKv/save";
			if(data.id != null && data.id != ""){
				url = "/siteKv/edit"
			}
			$.ajax({ 
				url: url, 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//刷新
		function reload () {
			console.log("刷新");
			$.ajax({ 
				url: "/siteKv/getList", 
				data: {},
				dataType: 'json',
				success: function(result){
					siteKvData = result.data;
// 					alert(JSON.stringify(boxRuleData));
					//执行重载
		            table.reload('table', {
		                data: siteKvData
		            });
				}
				
			});
			
            
     	}
		
		//新增按钮监听
		$('#addSiteKv').on('click', function(){
			var rewardId = "";
			if(rewardList != null && rewardList.length > 0){
				rewardId = rewardList[0].id;
			}
			var addData={
					"id":"",
					"keyCnName": "",
					"keyCnName":"",
					"descr": "",
					"createTime":"",
					"createPerson": ""
					};
			siteKvData.push(addData);
			table.reload('table',{
			    data : siteKvData
			});
			
		});
		
	});
</script>
</body>
</html>        
        