<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <link rel="stylesheet" th:href="@{/activityPage/portal/css/coupon.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
</head>
<body>

<div class="layui-inline">
	<input class="layui-input" name="title" autocomplete="off" placeholder="请输入优惠主题">
</div>
<button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</button>

<table class="layui-table" id="table" lay-filter="coupon"></table>

<!-- 
<script type="text/html" id="addMember">
	<form class="layui-form" action="" lay-filter="example">
		<input type="hidden" id="id" name="id">
		<div style="margin-top:10px;padding-right:10px;">
			<div class="layui-form-item" >
				<label class="layui-form-label">优惠主题 </label>
				<div class="layui-input-block">
				<input type="text" name="title" id="title" lay-verify="title" autocomplete="off" placeholder="请输入优惠主题" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" id="levelBox">
				<label class="layui-form-label">优惠类型 </label>
				<div class="layui-input-block">
					<select id="tyep" name="type">
						<option value="0" >满减 </option>
						<option value="1" >折扣 </option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">金额/折扣 </label>
				<div class="layui-input-block">
				<input type="number" name="money" id="money" lay-verify="allTimes|required|number" autocomplete="off" placeholder="请输入金额/折扣" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">使用条件 </label>
				<div class="layui-input-block">
				<input type="text" name="useCondition" id="useCondition" lay-verify="useCondition" autocomplete="off" placeholder="请输入使用条件" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">开始时间 </label>
				<div class="layui-input-block">
				<input type="text" name="startTime" id="startTime" lay-verify="startTime|required" autocomplete="off" placeholder="请输入使用条件" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">结束时间 </label>
				<div class="layui-input-block">
				<input type="text" name="endTime" id="endTime" lay-verify="endTime|required" autocomplete="off" placeholder="请输入使用条件" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" id="levelBox">
				<label class="layui-form-label">优惠券样式 </label>
				<div class="layui-input-block">
					<select id="style" name="style">
						<option value="stamp01" >黄色背景 </option>
						<option value="stamp02" >红色背景 </option>
						<option value="stamp03" >绿色背景 </option>
						<option value="stamp04" >蓝色背景 </option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否启用 </label>
				<div class="layui-input-block">
				<input type="checkbox" name="isUse" id="isUse" lay-skin="switch" lay-text="启用|禁用" lay-filter="isUse">
				</div>
			</div>
			<button style="display:none;" id="saveBtn" class="layui-btn" lay-submit="" lay-filter="redPacket">保存</button>
		</div>
	</form>
</script>
 -->

<script type="text/html" id="isUseColumn">
	<input type="checkbox" name="isUse" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="isUse" {{ d.isUse == true ? 'checked' : '' }}>
</script>
<script type="text/html" id="isShowColumn">
	<input type="checkbox" name="isShow" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="isShow" {{ d.isShow == true ? 'checked' : '' }}>
</script>
<script type="text/html" id="opColumn">
	<a class="layui-btn layui-btn-xs layui-btn-normal" href="/couponApply/toList?couponId={{d.id}}">优惠申请</a>
</script>

<!-- 
<script type="text/html" id="imgColum">
	<div>
		<i class="layui-icon layui-icon-picture couponImg_{{d.id}}" style="font-size:20px;" onmouseout="hiddenImg()"
			onmouseover="showImg({{d.id}}, '{{d.title}}', {{d.type}}, {{d.money}}, '{{d.useCondition}}', '{{d.startTime}}', '{{d.endTime}}', '{{d.style}}')">
		</i>
	</div>
</script>
-->
            
<script th:inline="none">
	
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		
		table.render({
		  elem: '#table'
		  ,url: '/coupon/getList' //数据接口
		  ,page: true //开启分页
		  ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		  ,cols: [[
			  {type:'checkbox', fixed: 'left'}
		     ,{field:'id', title: 'ID', width:80, sort: true}
		     ,{field:'title', title: '优惠活动'}
		     ,{field:'sort', title: '排序'}
		     /* ,{field:'type',title:'优惠类型', templet:
				function (row){
		    	 	if(row.type == 0){
		    	 		return "满减";
		    	 	}else if(row.type == 1){
		    	 		return "折扣";
		    	 	}else{
		    	 		return "";
		    	 	}
				}
		     }
		     ,{field:'money', title: '金额/折扣'}
		     ,{field:'useCondition', title: '使用条件'} */
		     ,{field:'startTime', title: '开始时间', templet:
				function (row){
					return createTime(row.startTime);
				}
		     }			  
		     ,{field:'endTime', title: '结束时间', templet:
				function (row){
					return createTime(row.endTime);
				}
		     }			  		  
		     ,{field:'isUse', title: '是否启用', templet: "#isUseColumn", event: "isUse"}			  
		     ,{field:'isShow', title: '是否显示', templet: "#isShowColumn", event: "isShow"}			  
		     ,{field:'op', title: '操作', templet: "#opColumn"}			  
// 		     ,{field:'', title: '优惠券预览', templet:"#imgColum"}			  
		  ]]
		});
		
		//监听行工具事件
		table.on('tool(coupon)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			var data = obj.data //获得当前行数据
			,layEvent = obj.event; //获得 lay-event 对应的值
			if(layEvent === 'isUse'){
				$.ajax({ 
					url: "/coupon/editStatus", 
					data: {id: data.id, isUse: (!data.isUse)},
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
						reload();
					}
				});
			}else if(layEvent === 'isShow'){
				$.ajax({ 
					url: "/coupon/editIsShow", 
					data: {id: data.id, isShow: (!data.isShow)},
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
						reload();
					}
				});
			}else if(layEvent === 'isTimeLimit'){
				$.ajax({ 
					url: "/coupon/editisTimeLimit", 
					data: {id: data.id, isTimeLimit: (!data.isTimeLimit)},
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
						reload();
					}
				});
			}
		});
		
		//监听头工具栏事件
		table.on('toolbar(coupon)', function(obj){
		  var checkStatus = table.checkStatus(obj.config.id)
		  ,data = checkStatus.data; //获取选中的数据
		  switch(obj.event){
		    case 'add':
				//新增优惠券
				window.location.href = "/coupon/toEdit";
		    break;
		    case 'update':
				if(data.length === 0){
					layer.msg('请选择一行');
				} else if(data.length > 1){
					layer.msg('只能同时编辑一个');
				} else {
					window.location.href = "/coupon/toEdit?id=" + data[0].id;
				}
		    break;
		    case 'delete':
			if(data.length === 0){
				layer.msg('请选择一行');
			} else {
				layer.confirm('确认要删除？', {
					btn: ['确定', '取消'] //按钮
				}, function () {
					del(data);
				}, function () {
				
				});
    		}
		    break;
		  };
		});
		  
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(i == 0){
	        		ids = data[i].id;
	        	}else{
	        		ids += "," + data[i].id;
	        	}
	        }
        	
        	$.ajax({ 
				url: "/coupon/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					
					if(result.code == "000000"){
						reload();
					}
					
					layer.msg(result.msg);
					
				}
			});
		}
		
		function reload () {
            //执行重载
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		title: $("input[name=title]").val()
                }
            });
     	}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
	});
	
	var img_show;
	//图片预览
	function showImg(id, title, type, money, useCondition, startTime, endTime, style){
		var img = '<div class="stamp ' + style + '">';
		img += '<div class="bg">'
		img += '<div class="par">';
		img += '<p>' + (title == null ? '' : title) + '&nbsp</p>';
		img += '<sub class="sign"></sub>';
		img += '<span>' + money + '</span>';
		if(type == 0){
			img += '<sub>元</sub>';
		}else{
			img += '<sub>折</sub>';
		}
		img += '<p>' + (useCondition == null ? '' : useCondition) + '&nbsp</p>';
		img += '</div>';
		img += '<div class="copy">副券'
		img += '<p>' + startTime.substring(0, 10) + '<br>' + endTime.substring(0, 10) + '</p>';
		img += '</div>';
		img += '</div>';
		img += '<i></i>'
		img += '</div>';
		console.log(img);
        img_show = layer.tips(img, '.couponImg_' + id,{
            tips:2
            ,area: ['450px']
        });
	}
	
	//隐藏图片
	function hiddenImg(){
		layer.close(img_show);
	}
	
</script>
</body>
</html>        
        