<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <style>
  	.img{
  		height: 300px;
  		max-width: 95%;
  	}
  </style>

</head>
<body>
	<form class="layui-form" action="" lay-filter="example">

		<!-- <div  class="layui-form-item">
    			<a class="layui-btn" lay-submit="" lay-filter="redPacket">保存</a>
    	</div>
    	<hr>
 -->
    	<div>
			<div class="layui-form-item" >
				<input type="hidden"  id="activityBgImg" name="activity_bg_img" lay-verify="activityBgImg">
				<div style="margin: 10px 0;font-size:16px;color:#777;">活动大厅顶部图片（建议图片尺寸 1600 * 450） </div>
				<img src="/image/noimg.jpg" class="img activityBgImg">
				<div style="margin-top:10px;">
					<a class="layui-btn layui-btn-normal" id="uploadActivityBgImg">上传图片</a>
					<a class="layui-btn layui-btn-danger" id="delActivityBgImg">恢复默认图片</a>
				</div>
			</div>
			
			<div class="layui-form-item" >
				<input type="hidden"  id="couponBgImg" name="coupon_bg_img" lay-verify="couponBgImg">
				<div style="margin: 10px 0;font-size:16px;color:#777;">优惠大厅顶部图片（建议图片尺寸 1600 * 450） </div>
				<img src="/image/noimg.jpg" class="img couponBgImg">
				<div style="margin-top:10px;">
					<a class="layui-btn layui-btn-normal" id="uploadCouponBgImg">上传图片</a>
					<a class="layui-btn layui-btn-danger" id="delCouponBgImg">恢复默认图片</a>
				</div>
			</div>
    	</div>
    
    </form>
    
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script th:inline="none">
		
		layui.use(['form', 'layedit', 'laydate','jquery', 'upload'], function(){
			var form = layui.form
			,layer = layui.layer
			,layedit = layui.layedit
			,laydate = layui.laydate
			,$ = layui.jquery
			,upload = layui.upload;
			
			//文件上传
			upload.render({
				elem: '#uploadActivityBgImg'
				,url: '/coupon/upload'
				,data: {}
				,done: function(res, index, upload){ //上传后的回调
		        	if(res.code == "000000"){
		        		var data = res.data;
//			        		alert(JSON.stringify(obj));
		        		$('.activityBgImg').attr("src", data);
		        		$('#activtyBgImg').val(data);
		        		saveImg("activity_bg_img", data);
		        	}else{
		        		layer.msg(res.msg);
		        	}
				} 
			});
			
			upload.render({
				elem: '#uploadCouponBgImg'
				,url: '/coupon/upload'
				,data: {}
				,done: function(res, index, upload){ //上传后的回调
		        	if(res.code == "000000"){
		        		var data = res.data;
//			        		alert(JSON.stringify(obj));
		        		$('.couponBgImg').attr("src", data);
		        		$('#couponBgImg').val(data);
		        		saveImg("coupon_bg_img", data);
		        	}else{
		        		layer.msg(res.msg);
		        	}
				} 
			});
			
			//获取活动大厅图片
			$.ajax({ 
				url: "/item/getItemByName", 
				data: {itemName: "activity_bg_img"},
				dataType: 'json',
				async: false,
				success: function(result){
					if(result.code == '000000'){
						var data = result.data;
						if(data != null){
							$('#activityBgImg').val(data.itemValue);
							if(data.itemValue != null && data.itemValue != ""){
								$('.activityBgImg').attr("src", data.itemValue);
							}
							
						}
					}else{
						layer.msg("活动大厅顶部图片获取失败");
					}
				}
			});
			
			//获取优惠大厅图片
			$.ajax({ 
				url: "/item/getItemByName", 
				data: {itemName: "coupon_bg_img"},
				dataType: 'json',
				async: false,
				success: function(result){
					if(result.code == '000000'){
						var data = result.data;
						if(data != null){
							$('#couponBgImg').val(data.itemValue);
							if(data.itemValue != null && data.itemValue != ""){
								$('.couponBgImg').attr("src", data.itemValue);
							}
							
						}
					}else{
						layer.msg("优惠大厅顶部获取失败");
					}
				}
			});
			
			//删除图片按钮监听
			$('#delActivityBgImg').on('click', function(){
				$('.activityBgImg').attr("src", "/image/noimg.jpg");
        		$('#activityBgImg').val("");
        		saveImg("activity_bg_img", "");
			});
			
			$('#delCouponBgImg').on('click', function(){
				$('.couponBgImg').attr("src", "/image/noimg.jpg");
        		$('#couponBgImg').val("");
        		saveImg("coupon_bg_img", "");
			});
			
			/* form.on('submit(redPacket)', function(data){
				var obj = {};
				obj.itemName = "coupon_bg_img, activity_bg_img";
				obj.itemValue = data.field.coupon_bg_img + "," + data.field.activity_bg_img + ","
				console.log(obj);
				$.ajax({ 
					url: '/item/saveOrEdit', 
					data: obj,
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
			        	
					}
				});
				
				return false;
			}); */
			
			function saveImg(itmeName, itmeValue){
				var obj = {};
				obj.itemName = itmeName
				obj.itemValue = itmeValue
				$.ajax({ 
					url: '/item/saveOrEdit', 
					data: obj,
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
			        	
					}
				});
			}
			
		});
	
	</script>

</body>
</html>        