<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>宝箱</title>
    <link rel="stylesheet" th:href="@{/activityPage/base/css/base.css}" />
    <link rel="stylesheet" th:href="@{/activityPage/box/css/treasureBox.css}" />
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	
</head>
<body class ="bodyClass" style="overflow: hidden;">
	<div id="shade"></div>
	<input type="hidden" id="actId" th:value="${activity.id}">
	<input type="hidden" id="memberId" th:value="${memberId}">
	<input type="hidden" id="level">
	<input type="hidden" id="endTime" th:value="${activity.endTime}">
	<input type="hidden" id="beginTime" th:value="${activity.beginTime}">
	<input type="hidden" id="isUsed" th:value="${activity.isUsed}">
	<input type="hidden" id="mainActId" th:value="${mainActId}">
	<input type="hidden" id="inviter" th:value="${inviter}">
	
    <div class="bg">
        <div class="header">
        	<!-- 后退 -->
			<div class="backBtn">
				<img src="/activityPage/sign/image/back.png" />
				<span>返回</span>
			</div>
        
        	<!-- 菜单按钮 -->
			<div class="menuBtn">
				<img src="/activityPage/goldenEgg/image/more.png" />
			</div>
			
			<!-- 菜单 -->
			<div class="menu">
				<!-- <div class="row">
					<img src="/activityPage/goldenEgg/image/index_page.png" />
					<span>首页</span>
				</div>
				<div class="row" id="loginBtn">
					<img src="/activityPage/goldenEgg/image/member.png" />
					<span>登录</span>
				</div>
				<div class="row">
					<img src="/activityPage/goldenEgg/image/customer.png" />
					<span>客服</span>
				</div> -->
			</div>
        	
        </div>
        <!--<div class="title">
            <div class="title_img">
                <img src="/activityPage/box/image/title.png" />
            </div>
        </div>-->
        <div class="scrollBar">
            <div class="info" id="recordInfo">
                <!-- <div class="msg">
                    恭喜<span class="name">可爱的小丽</span>获得<span class="price">100元</span>大奖
                </div>
                <div class="msg">
                    恭喜<span class="name">可爱的小丽</span>获得<span class="price">100元</span>大奖
                </div>
                <div class="msg">
                    恭喜<span class="name">可爱的小丽</span>获得<span class="price">100元</span>大奖
                </div>
                <div class="msg">
                    恭喜<span class="name">可爱的小丽</span>获得<span class="price">999元</span>大奖
                </div> -->
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="border">
            <div class="bar">
                <div class="wrapper">
                    <img src="/activityPage/box/image/bar.png" />
                    <div class="activityTime">
                    	<div id="time">
			        		<span id="timeText">距离结束还有</span>
							<span class="time" id="day">0</span>天
							<span class="time" id="hour">0</span>时
							<span class="time" id="minutes">0</span>分
							<span class="time" id="seconds">0</span>秒
			        	</div>
						<div id="msg"></div>
                    </div>
                </div>
            </div>
            <div class="treasureBox">
                <div class="box_item">
                    <div class="box_wrapper">
                        <img src="/activityPage/box/image/11.jpg" class="img" />
                    </div>
                    <div class="box_wrapper">

                        <img src="/activityPage/box/image/22.jpg" class="img" />

                    </div>
                    <div class="box_wrapper">

                        <img src="/activityPage/box/image/33.jpg" class="img" />

                    </div>

                </div>
                <div class="box_item">

                    <div class="box_wrapper">

                        <img src="/activityPage/box/image/44.jpg" class="img" />

                    </div>
                    <div class="box_wrapper">

                        <img src="/activityPage/box/image/55.jpg" class="img" />

                    </div>
                    <div class="box_wrapper">
                        <img src="/activityPage/box/image/66.jpg" class="img" />
                    </div>

                </div>
                <div class="box_item">
                    <div class="box_wrapper bigImg">
                        <img src="/activityPage/box/image/77.jpg" class="img" />
                    </div>
                </div>
            </div>
            <div class="bottom_info">
                <span class="activityRules"><span id="activityRules">查看活动说明</span></span>
                <span class="prices"><span id="prices">查看已获得的奖品</span>
                </span>
            </div>
        </div>
		<!-- <div class="relief" th:utext="${activity.announcement}">
        </div> -->
        
        <!--活动说明弹层-->
	    <div class="layer activityRules_layer" id="actRule">
	        <div class="content">
	            <img src="/activityPage/box/image/close.png" class="close" />
	            <div class="head_img">
	                <img src="/activityPage/box/image/bar.png" />
	                <p class="title">规则说明</p>
	            </div>
	            <div class="content_text" th:utext="${activity.actRule}">
	                <!-- <span class="text">累计充值</span>
	                <span class="text">500开启青铜宝箱</span>
	                <span class="text">1000开启青铜宝箱</span>
	                <span class="text">2000开启青铜宝箱</span>
	                <span class="text">5000开启青铜宝箱</span>
	                <span class="text">8000开启青铜宝箱</span>
	                <span class="text">15000开启青铜宝箱</span>
	                <span class="text">30000开启青铜宝箱</span> -->
	                
	            </div>
	        </div>
	    </div>
	    <!--登录弹层-->
	    <div class="layer login_layer">
	        <div class="content">
	            <img src="/activityPage/box/image/close.png" class="close" />
	            <div class="head_img">
	                <img src="/activityPage/box/image/bar.png" />
	                <p class="title">登录</p>
	            </div>
	            <div class="content_text">
	                <input type="text" id="memberName" placeholder="请输入会员号/手机号" placeholder-class="placeClass" />
	                <img src="/activityPage/box/image/login.png" id="memberLogin" />
	            </div>
	        </div>
	    </div>
	    <!--开宝箱-->
	    <div class="layer treasureBox_layer">
	        <div class="content">
	            <img src="/activityPage/box/image/close.png" class="close" />
	            <div class="head_img">
	                <img src="/activityPage/box/image/bar.png" />
	                <p class="title" id="times">剩余0次抽奖机会</p>
	            </div>
	            <div class="content_text marginTop">
	                <img src="/activityPage/box/image/55.jpg" class="box_img1" id="leveBox" />
	                <img src="/activityPage/box/image/openBtn.png" id="openBox" />
	            </div>
	        </div>
	    </div>
	    <!--获得奖品-->
	    <div class="bg_layer">
	        <div class="box_layer">
	            <div class="content">
	                <div class="head_img">
	                    <img src="/activityPage/box/image/success.jpg" />
	                    <p class="title colorWhite" id="reward"></p>
	                </div>
	                <div class="content_text marginTop">
	                    <img src="/activityPage/box/image/open.png" class="box_img" />
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <!-- 中奖纪录 -->
	    <div class="layer activityRules_layer" id="rewardRecord">
	        <div class="content">
	            <img src="/activityPage/box/image/close.png" class="close" />
	            <div class="head_img">
	                <img src="/activityPage/box/image/bar.png" />
	                <p class="title">中奖记录</p>
	            </div>
	            <div class="content_text record_text" id="record">
	                
	            </div>
	        </div>
	    </div>

    </div>
    
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/layui/lay/modules/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/base/js/base.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/box/js/treasureBox.js}"></script>
</body>

</html>