<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/qrcode/qrcode.js}"></script>
   
   <style>
   		.qrcode {
   			text-align:center;
   			padding: 10px; 
   			margin-left:100px;
   		}
   		
   </style>
   
</head>
<body>


	<form class="layui-form" action="" lay-filter="example">

		<div>

			<div class="layui-form-item">
				<div id='qrcode' class='qrcode'></div>

				<div class="layui-inline">
					<label class="layui-form-label">安全码</label>
					<div class="layui-input-inline">
						<input type="text" name="key" id="key" lay-verify="key" autocomplete="off" placeholder="请输入安全码" class="layui-input">
					</div>
					<button class="layui-btn" lay-submit="" lay-filter="redPacket">绑定</button>
				</div>


			</div>

		</div>

	</form>

	<script th:inline="none">
		layui.use([ 'form', 'layedit', 'laydate', 'jquery'], function() {
			var form = layui.form, 
			layer = layui.layer, 
			layedit = layui.layedit, 
			laydate = layui.laydate, 
			$ = layui.jquery;

			//获取二维码
			$.ajax({
				url : '/googleAuthenticator/genSecret',
				data : {},
				dataType : 'json',
				success : function(result) {
					if (result.code == "000000") {
						var qrcode = new QRCode(document
								.getElementById("qrcode"), {
							width : 150,
							height : 150
						});
						qrcode.makeCode(result.data);
					} else {
						layer.msg("二维码获取失败");
					}
				}
			});

			//监听提交
			form.on('submit(redPacket)', function(data) {
				$.ajax({
					url : '/googleAuthenticator/checkSecret',
					data : data.field,
					dataType : 'json',
					success : function(result) {
						layer.msg(result.msg);
						if (result.code == "000000") {
						}

					}
				});

				return false;
			});
		});
	</script>

</body>
</html>        