@media screen and (max-width:375px){
    .bodyClass{
        font-size: 14px;
    }
    .supplementSign .content {
    	max-height: 12em;
    	overflow-y: auto;
    }
}

/* 背景 */
.bg {
    background-image: url('/activityPage/sign/image/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: local;
    overflow-y: auto;
}

.fill {
	margin-bottom: 1em;
}

/* 活动规则 */
.ruleBtn {
	height: 2em;
	position: absolute;
	right: 0;
	top: 3%;
	text-align: center;
	font-size: 1em;
	cursor:pointer;
}
.ruleBtn img {
	height: 100%;
}

/* 补签按钮 */
.supplementSignBtn {
	position: absolute;
	top: 18%;
	right: 0;
	height: 4em;
	cursor:pointer;
}
.supplementSignBtn img {
	height: 100%;
}

/* 签到按钮 */
.signBtn {
/* 	position: absolute; */
/* 	top: 16%; */
	padding-top: 30%;
	width: 100%;
	height: 7em;
	text-align: center;
}
.signBtn img{
	height: 100%;
	cursor:pointer;
}

/* 抽奖按钮 */
.activityBtn {
	position: absolute;
	top: 70%;
	right: 0;
	width: 4.5em;
	height: 4.5em;
	background-image: url('/activityPage/sign/image/activity_btn.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
	z-index: 8;
	cursor:pointer;
}
.activityBtn .centent {
	font-size: 0.6em;
	color: #fff;
	width: 80%;
	margin-left: 10%;
	margin-top: 30%;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	text-align: center;
}

/* 签到 */
.sign{
	width: 90%;
	min-height: 40%;
	margin-left: 5%;
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 0.5em;
}
.sign .box{
	width: 100%;
}
.sign .box .title {
	width: 100%;
	text-align: center;
	padding-top: 1em;
	font-size: 1em;
}
.sign .box .title #seriesDay {
	color: #f15040;
	background-image: url('/activityPage/sign/image/sign_icon3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 5px;
    margin: 0 5px;
	font-weight: bold;    
}
.sign .box .calendar {
	width: 100%;
	margin-top: 0.5em;
}
.sign .box .calendar th {
	font-family: serif;
	height: 2em;
}
.sign .box .calendar td{
	text-align: center;
}
.sign .box .calendar img {
	width: 80%;
}
.sign .box .calendar span {
	font-size: 0.8em;
	color: #000;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}

/* 样式 */
.icon {
	position: relative;
	top: -0.5em;
	width: 100%;
	
}
.icon div {
	float: left;
	width: 50%;
	height: 3em;
	text-align: center;
	z-index: 7;
}
.icon div img {
	height: 3em;
}

/* 签到天数 */
.signTimes {
	width: 90%;
	margin-left: 5%;
	margin-top: 2em;
	background-color: #fff;
	border-radius: 5px;
/* 	padding: 1em 0; */
	margin-bottom: 1em;
}
.signTimes .content1 {
	float: left;
	width: 50%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
.signTimes .content2 {
	float: right;
	width: 50%;
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
}
.signTimes .text {
	font-size: 1em;
	color: #353535;
}
.signTimes .text .times {
	background-image: url('/activityPage/sign/image/sign_icon2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 5px;
    padding: 5px;
}
.signTimes .btn {
	width: 100%;
	margin-top: 1.5em;
	text-align: center;
}
.signTimes .btn img{
	width: 70%;
	cursor:pointer;
}


/* 我的奖品 */
.myReward {
	width: 100%;
	text-align: center;
	margin-top: 12px;
}
.myReward div {
	height: 2.5em;
	line-height: 2.5em;
	font-size: 1em;
	color: #602b08;
	font-family: PingFang-SC-Bold;
	text-align: center;
	background-image: url('/activityPage/card/image/my_reward_bg.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.myReward img {
	height: 50%;
	cursor:pointer;
}

/* 关闭按钮 */
.close {
	position: relative;
	top: 20%;
	padding-left: 45%;
	text-align: left;
}
.close img {
	height: 32px;
	width: 32px;
	cursor:pointer;
}

/* 中奖弹窗 */
.gitReward {
	position: absolute;
	top: 20%;
    left: 5%;
    width: 90%;
/*     height: 40%; */
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
    display: none;
}
.gitReward .rewardBg {
	position: relative;
	top: -5em;
	width: 80%;
}
.gitReward .rewardCon {
	width: 100%;
/* 	height: 70%; */
	margin-top: -5em;
	text-align: center;
}
.gitReward .rewardCon .text {
	font-size: 1em;
	color: #7b7b7b;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}
.gitReward .rewardCon .content{
	width: 100%;
	margin-top: 1em;
	color: #fff;
	text-align: center;
}
.gitReward .rewardCon .content .joinTimes {
	display: inline-block;
    width: 49%;
}
.gitReward .rewardCon .content .joinTimes img {
	width: 60%;	
}
.gitReward .rewardCon .content .joinTimes div {
	position: relative;
	top: -4.5em;
	width: 60%;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	text-align: center;
	font-size: 0.8em;
}
.gitReward .rewardCon .content .reward {
	display: inline-block;
	text-align: center;
	width: 49%;
}
.gitReward .rewardCon .content .reward img {
	width: 50%;
}
.gitReward .rewardCon .content .reward .rewardName {
	width: 60%;
	color: #000;
	font-size: 0.8em;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	text-align: center;
}
.gitReward .rewardCon .content .reward .rewardTimes {
	position: relative;
	top: 2em;
	left: 60%;
	font-size: 0.6em;
	color: #fff;
	background-color: #f65713;
	height: 1.6em;
	width: 3em;
	line-height: 1.6em;
	border-radius: 0.8em;
}
.closeBtn {
	position: relative;
	bottom: -5em;
	margin-left: 30%;
	width: 40%;
	line-height: 2em;
	font-size: 1.2em;
	color: #fefefe;
	text-align: center;
	background-color: #fec30f;
	border-radius: 1em;
    cursor:pointer;
}

/* 登录弹窗 */
.login {
	position: absolute;
	top: 30%;
    left: 10%;
    width: 80%;
    height: 15em;
    z-index: 10;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    display: none;
}
.login .loginBg {
	position: relative;
	top: -0.5em;
	width: 100%;
	height: 2em;
	background-image: url('/activityPage/sign/image/bg_icon1.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #fff;
    line-height: 2em;
    font-size: 1em;
}
.login .nameBox {
	margin-top: 20%;
	width: 80%;
	height: 2.5em;
	line-height: 2.5em;
	margin-left: 10%;
	background-color: rgba(0,0,0,0.2);
	border-radius: 1.2em;
	text-align: left;
}
.login .nameBox img{
	width: 2em;
	margin-left: 10px;
	margin-right: 5px;
}
.login .nameBox input{
	width: 70%;
	background:none;
	outline:none;
	border:0px;
	color: #ffffff;
	height: 2em;
	font-size: 1em;
}
.login .nameBox input[type="text"]:focus{
	outline: none;
	color: #fff;
}
.login .loginBtn{
	width: 100%;
	height: 40%;
	margin-top: 5%;
	text-align: center;
}
.login .loginBtn div{
	width: 30%;
	padding: 8px 12px;
	margin-top: 0.8em;
	font-size: 0.8em;
	color: #c9862f;
	display: inline-block;
	background-image: url('/activityPage/sign/image/btn1.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer;
}

/* 规则弹窗 */
.ruleBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    background-color: #fff;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
    display: none;
}
.ruleBox .ruleBg {
	width: 100%;
	height: 2em;
	margin-top: 1em;
	background-image: url('/activityPage/sign/image/bg_icon1.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #fff;
    line-height: 2em;
    font-size: 1em;
}
.ruleBox .centent {
	display: inline-block;
	width: 80%;
	height: 80%;
	margin-top: 1em;
	overflow-y: auto;
	color: #6b340c;
	font-size: 0.8em;
	text-align: left;
}

/* 中奖记录弹窗 */
.recordBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    z-index: 10;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}
.recordBox .recordBg {
	width: 100%;
	height: 2em;
	margin-top: 1em;
	background-image: url('/activityPage/sign/image/bg_icon1.png');
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #fff;
    line-height: 2em;
    font-size: 1em;
}
.recordBox .centent {
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-top: 1em;
	overflow-y: auto;
	overflow-x: hidden;
	color: #fff;
	font-size: 0.8em;
}
.recordBox .centent .row {
	width: 98%;
	height: 2em;
	border-radius: 13px;
	color: #ff5434;
	font-size: 0.8em;
	margin-top: 5px;
}
.recordBox .centent .row .time {
	width: 50%;	
	float: left;
	line-height: 1.8em;
}
.recordBox .centent .row .reward {
	width: 25%;	
	height: 100%;
	line-height: 1.8em;
	text-align: left;
	color: #b56d3b;
	float: left;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.recordBox .centent .row .isSend {
	width: 20%;	
	text-align: left;
	float: right;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

/* 查看奖品弹窗 */
.rewardBox {
	position: absolute;
	top: 30%;
    left: 10%;
    width: 80%;
    height: 40%;
    z-index: 10;
	background-color: #fff;
	border-radius: 5px;
    text-align: center;
    display: none;
}
.rewardBox .rewardBg {
	width: 100%;
	height: 5em;
	background-image: url('/activityPage/sign/image/rule_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    color: #fff;
    line-height: 5em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
}
.rewardBox .centent {
/* 	margin-top: 1em; */
    width: 100%;
    height: 78%;
    text-align: center;
    overflow-y: auto;
}
.rewardBox .centent .collapse {
	border: none;
}
.rewardBox .centent .colla-title {
	background-color: #ff9e38;
	font-size: 0.9em;
	height: 2em;
	line-height: 2em;
/*     border-bottom: 1px solid #e2e2e2; */
    color: #fff;
    text-align: left;
}
.rewardBox .centent .colla-content {
	border: none;
/* 	border-bottom: 1px solid #efefef; */
}
.rewardBox .centent .rewardInfo {
	display: inline-block;
	width: 32%;
/* 	height: 6em; */
	text-align: center;
}
.rewardBox .centent .rewardInfo .rewardImg{
	width: 80%;
	max-height: 5em;
}
.rewardBox .centent .rewardInfo .text {
	width: 90%;
	font-size: 0.8em;
	line-height: 1.2em;
	color: #000;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
/* 补签弹窗 */
.supplementSignBox {
	position: absolute;
	top: 20%;
    left: 10%;
	width: 80%;
	z-index: 10;
	display: none;
}
.supplementSign{
    width: 100%;
	background-color: #fff;
	border-radius: 10px;
    text-align: center;
    margin-bottom: 4em;
}
.supplementSign .supplementSignBg{
	width: 60%;
	position: relative;
	top: -4em;
}
.supplementSign .content {
	margin-top: -4em;
	width: 90%;
	min-height: 3em;
	margin-left: 10%;
	text-align: left;
	/* max-height: 10em;
	overflow-y: auto; */
}
.supplementSign .content .dayBox {
	display: inline-block;
	margin-bottom: 1em;
}
.supplementSign .content input[type=checkbox] {
	visibility: hidden;
	display: none;
}
.supplementSign .content .day +span{
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 1em;
    font-size: 1em;
    color: #000;
    text-align: center;
    margin-right: 1em;
}
/* .supplementSign .content .day:checked +label::before { */
/* 	content: ''; */
/* 	display: block; */
/*     width: 2em; */
/*     height: 2em; */
/*     line-height: 2em; */
/*     cursor: pointer; */
/*     background-color: #fcbf41; */
/*     border-radius: 1em; */
/*     font-size: 1em; */
/*     color: #fff; */
/*     text-align: center; */
/*     margin-right: 1em; */
/* } */
.supplementSign .content .apply {
	display: block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    background-color: #f19c08;
    border-radius: 1em;
    font-size: 1em;
    color: #000;
    text-align: center;
    margin-right: 1em;
}

.supplementSign .btnBox {
	width: 100%;
	height: 5em;
	background-image: url('/activityPage/sign/image/supplement_sign_bg2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}
.supplementSign .btnBox .supplementBtn {
	display: inline-block;
	width: 80%;
	height: 2.6em;
	line-height: 2.6em;
	background-color: #fff;
	text-align: center;
	color: #fcc042;
	font-size: 0.8em;
	border-radius: 1.3em;
	margin-top: 3em;
	cursor:pointer;
}


/* 输入框样式 */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fefefe;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fefefe;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fefefe;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fefefe;
}

/* 判断pc端改变滚动条样式  */
@media screen and (min-width: 992px) {
	/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
	::-webkit-scrollbar
	{
	    width: 4px;
	    height: 16px;
	    background-color: #F5F5F5;
	}
	 
	/*定义滚动条轨道 内阴影+圆角*/
	::-webkit-scrollbar-track
	{
	    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	    border-radius: 2px;
	    background-color: #c3c3c3;
	}
	 
	/*定义滑块 内阴影+圆角*/
	::-webkit-scrollbar-thumb
	{
	    border-radius: 2px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    background-color: #777;
	}
}
