body {
    margin: 0;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
	overflow: hidden;
}
.bg{
	overflow: auto;
	width: 100%;
	height: 100%;
}

/* 遮罩 */
#shade {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	display: none;
	overflow: hidden;
	background-color: #000000;
	opacity: 0.6;
	z-index: 11000;
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    display: inline-block;
    width: 33%;
    min-height: 400px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;
}

/*--header-starts--*/
/*--header--*/
/* .header-info {
    height: 100px;
    background: url(../image/headerbg.png) top center no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 2;
} */

.header-info a {
    text-decoration: none;
}

.header-info-right {
    float: right;
    margin-top: 17px;
}

.logo {
    width: 240px;
    height: 80px;
    float: left;
    margin-right: 20px;
    background: url(/static/img/logo240x80.png) center no-repeat;
}

.header-info {
    padding: 10px 100px 0 100px;
}

.logo-head {
    display: block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 0;
}

.logo-head:hover {
    text-decoration: none;
    color: #fff000;
}

.logo-head {
    letter-spacing: 0;
    line-height: 80px;
    font-family: "STXinwei";
    font-size: 40px;
}

.logo-head:after,
.logo-head:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.logo-head:hover:after,
.logo-head:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #FFF;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.logo-head:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}

/*--/header--*/
/*--header-menu--*/
span.menu {
    position: relative;
    cursor: pointer;
}

ul.nav1 {
    position: absolute;
    right: 100px;
    top: 0%;
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin-top: 30px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin: 0 20px;
    transition: .5s all;
}

.top-nav ul li a span {
    font-size: 14px;
}

.top-nav ul li a:hover {
    color: #feed64;
}

.top-nav ul li a.active {
    color: #C32641;
}

.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/*--header-banner--*/
.banner {
    background: url(../image/22.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    height: 450px;
    position: relative;
}

.banner1 {
    min-height: 130px;
}

.bnr-img {
    position: absolute;
    left: 35%;
}

.banner-text {
    margin-top: 9%;
}

.banner-left h2 {
    color: #fff;
    font-size: 5.5em;
    margin: 0;
    width: 60%;
    line-height: 1.3em;
}

.banner-left h3 {
    font-size: 1.73em;
    margin: 10px 0 0 0;
    color: #fff;
}

.banner-left p {
    color: #fff;
    line-height: 1.6em;
    margin-top: 10px;
    font-size: 1.05em;
    width: 45%;
}

.banner-left {
    width: 75%;
    float: left;
}

.b-right {
    float: right;
    width: 20%;
    margin-top: 1%;
}

.b-right h4 {
    font-size: 1.5em;
    color: #000;
    margin: 0;
}

.b-right p {
    font-size: 2.2em;
    color: #fff;
    margin-top: 5px;
}

.b2 {
    margin-top: 13%;
}

.ban_botm {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 120px;
    z-index: 1000;
    background: url(../image/yun.png) no-repeat center center;
}

/*--/header-banner--*/
/*--class-starts--*/
.class {
    padding: 5em 0px 6em 0px;
    position: relative;
    background: url(../image/bg.jpg);
    min-height: 45%;
}

.class-top {
    text-align: center;
    height: 60px;
}

.heading h3 {
    color: #fcef86;
    font-size: 2.8em;
    margin: 0;
    background: url(../image/ch.png);
    height: 60px;
    padding: 8px 20px;
    text-align: left;
    position: absolute;
    width: 57%;
    right: 0;
}

.class-bottom {
/*     margin-top: 5rem; */
    margin-left: 10%;
    width: 80%;
}

.class-left img {
    width: 100%;
}

.class-left {
    position: relative;
/*     height: 396px; */
    margin-top: 50px;
}

.class-left h6 {
    color: #fff;
    padding: 10px 20px;
    background: #C32641;
    font-size: 17px;
    position: absolute;
    top: 52.3%;
    left: 18%;
    margin: 0;
}

.c-btm {
    padding: 25px 15px;
    background: #ff3f3f33;
    text-align: center;
/*     height: 134px; */
}

.c-btm h4 {
    color: #FFEB3B;
    font-size: 1.4em;
    margin: 0;
}

.c-btm p {
    font-size: 1.05em;
    line-height: 1.8em;
    margin-top: 10px;
    color: #e0e0e0;
}

.class-left figure {
    width: 100%;
    height: 260px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.class-left figure:hover img {
    width: 110%;
}

.class-left figure img {
    width: 100%;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/*--class-end--*/
/*--footer-starts--*/
.footer {
    background: url(../image/footerbg.png);
/*     padding: 2em 0; */
}

.footer-top {
    text-align: center;
}

.footer-top p {
    font-size: 1.05em;
    color: #fff000;
}

.footer-top p a {
    color: #fff;
}

.footer-top p a:hover {
    text-decoration: underline;
}

.footer-top ul {
    padding: 0;
}

.footer-top ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.footer-top ul li a span {
    width: 34px;
    height: 34px;
    display: block;
}

.footer-top ul li a span.fb {
    background-position: 0px 0px;
}

.footer-top ul li a span.twit {
    background-position: -34px 0px;
}

.footer-top ul li a span.drbl {
    background-position: -68px 0px;
}

.footer-top ul li a span.rss {
    background-position: -102px 0px;
}

.footer-top ul li a span:hover {
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
    transform: rotateyz(360deg);
    -webkit-transform: rotatez(360deg);
    -moz-transform: rotatez(360deg);
    -o-transform: rotatez(360deg);
    -ms-transform: rotatez(360deg);
}

/*--footer-end--*/

/*--features-starts--*/
.features {
    padding: 0em 0px 6em 0px;
    position: relative;
}

.features-bottom {
    margin-top: 5rem;
    text-align: center;
}

.feature-left h4 {
    font-size: 1.8em;
    color: #ffd300;
    margin: 0;
}

.feature-left p {
    color: #efd3d3;
    font-size: 1.02em;
    line-height: 1.8em;
    margin-top: 10px;
}

.feature-one {
    padding: 60px 25px 35px 25px;
    border: 2px solid #f5c351;
    height: 100%;
    background: #581a08a3;
}

.feature-left {
    margin-top: 50px;
    position: relative;
    height: 213px;
}

.feature-left span {
    position: absolute;
    top: -16%;
    left: 41.3%;
    font-size: 2em;
    padding: 20px;
    background: #314c3d;
    color: #fb0000;
}

.feature-one:hover {
    background: #92171740;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.feature-one:hover.feature-one h4 {
    color: #ffffff;
}

.feature-one:hover.feature-one p {
    color: #d6d6d6;
}

/*--features-end--*/
/*--letter-starts--*/
.features {
    background: url(../image/bg.jpg)
}

.letter {
    padding: 10em 0px 6em 0px;
    position: relative;
}

.heading1 h3 {

    background: url(../image/aboutAct.png);
    padding: 0px;

    position: absolute;
    width: 1200px;
    height: 60px;
    left: -50px;
}

.heading3 h3 {
    color: #f00;
    font-size: 2.8em;
    margin: 0;
    background: #000000;
    padding: 8px 20px;
    text-align: right;
    position: absolute;
    width: 57%;
    left: 0;
    top: 18%;
}

.letter-bottom {
    margin-top: 4%;
}

.letter input[type="text"] {
    width: 70%;
    color: #C32641;
    background: none;
    padding: 14px 10px;
    outline: none;
    border: 1px solid #C32641;
    font-size: 13px;
}

.letter form input[type=submit] {
    color: #C32641;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #C32641;
    margin-left: 10px;
    outline: none;
    background: none;
}

.letter form input[type=submit]:hover {
    background: #C32641;
    color: #f00;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.letter-right span {
    vertical-align: middle;
    display: inline-block;
    font-size: 2em;
    padding: 15px;
    color: #f00;
    background: #C32641;
}

.letter-right p {
    font-size: 1.8em;
    vertical-align: middle;
    display: inline-block;
    color: #f00;
    margin-left: 20px;
}

/*--letter-end--*/
/*--boostrap--*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding: 15px 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.class .title1 {
	width: 100%;
	height: 3em;
	background: url(/activityPage/portal/image/newAct.png);
	background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
.class .title2 {
	width: 100%;
	height: 3em;
	background: url(/activityPage/portal/image/aboutAct.png);
	background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
/*     float: left; */
	display: inline-block;
}

.col-md-4 {
/*     width: 33.33333333%; */
	width: 100%;
}

.col-md-8 {
    width: 66.66666667%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

/* 活动类型列表 */
.category {
	width: 100%;
	height: 4em;
	background-color: #8e0a0a;
    table-layout:fixed;
	cursor: pointer;
}
.category th {
	color: #fff;
	font-size: 1.5em;
}
.category .selected {
	color: #f9dc46;
}
.category .border_right {
	border-right: 2px solid #fff;
}

.category .tabPage {
	width: 8%;
}
.checkBtm{
	padding: 15px 15px;
    background: #fe770e6b;
    text-align: center;
}
.checkBtm span{
	color: #fff;
    font-size: 1em;
    margin: 0;
    cursor: pointer;
}
#actBox2 {
	display: none;
}
#actBox2 .back {
	width: 70%;
	background-color: #9a060c88;
	height: 60px;
	border-radius: 0 30px 30px 0;
	text-align: right;
	line-height: 2em;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 5px;
	padding-right: 30px;
	color: #feed64;
	cursor: pointer;
}
#actBox2 .back span {
	line-height: 3em;
	font-size: 1.8em;
	margin-right: 30px;
	color: #feed64;
}

.tabBox {
	width: 100%;
	height: 60px;
	text-align: center;
    position: relative;
    background: url(../image/bg.jpg);
    padding: 10px 0;
}
.tabBox .tab {
	width: 80%;
	height: 100%;
	background-color: #730104;
	display: inline-block;
	text-align: left;
	border-radius: 30px;
}
.tabBox .tab .activityTab{
	width: 49%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #feed64;
	display: inline-block;
	background-color: #a70001;
	cursor: pointer;
	border-radius: 30px 0 0 30px;
}
.tabBox .tab .couponTab{
	width: 49%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #feed64;
	display: inline-block;
	cursor: pointer;
	border-radius: 0 30px 30px 0;
}

.activityBox {
    min-height: 800px;
}
.couponBox{
	display: none;
	position: relative;
    background: url(../image/bg.jpg);
    text-align: center;
    min-height: 700px;
}
.couponBox .coupons{
	width: 80%;
	text-align: left;
	display: inline-block;
}
.couponBox .coupon{
	display: inline-block;
	width: 30%;
	text-align: center;
	background-color: #3e0b0b;
	margin: 0 1.5%;
	margin-bottom: 20px;
}
.couponBox .coupon .couponImg{
	display: inline-block;
	margin-top: 10px;
	width: 90%;
	height: 220px;
	border: 1px solid #d5980c;
	cursor: pointer;
}
.couponBox .coupon .couponImg img{
	display: block;
	width: 100%;
	height: 100%;
}
.couponBox .coupon .couponTitle{
	display: inline-block;
	width: 90%;
	text-align: center;
	color: #fff;
	font-size: 1.2em;
	margin-top: 10px;
}
.couponBox .coupon .couponTime{
	display: inline-block;
	width: 90%;
	text-align: center;
	color: #fff;
	font-size: 1em;
}
.couponBox .coupon .couponBtnBox{
	display: inline-block;
	width: 90%;
	text-align: center;
	margin: 10px 0;
}
.couponBox .coupon .couponBtnBox div{
	display: inline-block;
	width: 35%;
	border-radius: 10px;
	padding: 5px 0;
	margin: 0 5%;
	font-weight: bold;
	text-align: center;
	background: linear-gradient(to bottom, #fffaa5, #d46212);
	cursor: pointer;
}
.couponBox .searchBox{
	width: 80%;
	text-align: right;
	display: inline-block;
	margin: 10px 0;
	padding-right: 1.5%;
}
.couponBox .searchBox .searchBtn{
	display: inline-block;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 5px;
}
.couponBox .searchBox .content{
	display: inline-block;
	background-color: #eee;
	padding: 5px 10px;
	border-radius: 5px;
}
.couponBox .searchBox input{
	background: none;
    outline: none;
    border: 0px;
    color: #000;
}

.apply {
	position: absolute;
	top: 30%;
    left: 43%;
    width: 250px;
    height: 180px;
    z-index: 11001;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    display: none;
}
.apply .nameBox {
	margin-top: 20%;
	width: 80%;
	height: 2.5em;
	line-height: 2.5em;
	margin-left: 10%;
	background-color: rgba(0,0,0,0.2);
	border-radius: 1.2em;
	text-align: left;
}
.apply .nameBox img{
	width: 2em;
	margin-left: 10px;
	margin-right: 5px;
}
.apply .nameBox input{
	width: 70%;
	background:none;
	outline:none;
	border:0px;
	color: #ffffff;
	height: 2em;
	font-size: 1em;
}
.apply .nameBox input[type="text"]:focus{
	outline: none;
	color: #fff;
}
.apply .loginBtn{
	width: 100%;
	height: 40%;
	margin-top: 5%;
	text-align: center;
}
.apply .loginBtn div{
	width: 50%;
	padding: 8px 12px;
	margin-top: 0.8em;
	font-size: 0.8em;
	color: #c9862f;
	display: inline-block;
	background-image: url('/activityPage/sign/image/btn1.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor:pointer;
    border-radius: 15px;
}

/* 关闭按钮 */
.close {
	position: relative;
	top: 20%;
	padding-left: 45%;
	text-align: left;
}
.close img {
	height: 32px;
	width: 32px;
	cursor:pointer;
}

.couponContentBox {
	position: absolute;
	top: 30%;
    left: 30%;
    width: 40%;
    height: 500px;
    z-index: 11001;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    display: none;
}
.couponContentBox .title {
	width: 100%;
	height: 8%;
	line-height: 30%;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}
.couponContentBox .content{
	display: inline-block;
	width: 100%;
	height: 80%;
	overflow: auto;
	text-align: left;
}
.couponContentBox .closeBtnBox{
	width: 100%;
	height: 8%;
	margin-top: 2%;
	text-align: center;
}
.couponContentBox .closeBtnBox .closeBtn{
	display: inline-block;
	background-color: #1E9FFF;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

/* 优惠券通知 */
.scrollBar{
	display: inline-block;
    width: 70%;
    height: 30px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
}
.scrollBar .info{
    width: 300%;
    height: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    left: 0;
}
.scrollBar .info .msg{
    letter-spacing: 1px;
    font-size: 0.8em;
    color: #fff;
    padding: 5px;
    float: left;
/*     width: 150px; */
	margin-right: 10px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
}

/* 优惠券申请记录 */
.couponApplyBox{
	position: absolute;
	top: 15%;
    left: 30%;
    width: 40%;
    height: 600px;
    z-index: 11001;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    display: none;
}
.couponApplyBox .content{
	width: 100%;
	height: 90%;
	overflow-y: auto;
	
}
.couponApplyBox .content .applyTitle{
	width: 100%;
	height: 8%;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.couponApplyBox .closeBtnBox{
	width: 100%;
	height: 8%;
	margin-top: 2%;
	text-align: center;
}
.couponApplyBox .closeBtnBox .closeBtn{
	display: inline-block;
	background-color: #1E9FFF;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.couponApplyBox .content .myApplyBox{
	width: 100%;
	height: 90%;
	text-align: center;
}
.couponApplyBox .content .myApplyBox .myApply{
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
	
}
.couponApplyBox .content .myApplyBox .myApply .title{
	width: 45%;
	display: inline-block;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
	text-align: left;
}
.couponApplyBox .content .myApplyBox .myApply .time{
	width: 30%;
	display: inline-block;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}
.couponApplyBox .content .myApplyBox .myApply .examineState{
	width: 20%;
	display: inline-block;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}

/* 手机适配 */
@media screen and (max-width:960px){
	body {
		font-size: 12px;
		overflow-y: auto;
	}
	.class {
		padding: 2em 0px 1em 0;
		min-height: auto;
	}
	.banner {
		display: none;
	}
	
	.container {
		width: 100%;
/* 		margin-bottom: auto; */
	}
	
	body a {
		width: 49%;
		min-height: 0;
	}
	.class .title1 {
		height: 2em;
	}
	.class .title2 {
		height: 2em;
	}
	.category {
		height: 2em;
		margin-bottom: 10px;
	}
	.category th {
		font-size: 0.8em;
	}
	.class-left {
		margin-top: 20px;
	}
	.class-left figure {
		height: 100px;
	}
	.class-left h6 {
		font-size: 0.8em;
		padding: 0;
		position: static;
		left: 15%;
		text-align: center;
	}
	.c-btm {
		width: 100%;
		padding: 5px;
		display: inline-block;
		white-space : nowrap;
		text-overflow:ellipsis;
		overflow: hidden; 
	}
	.c-btm h4 {
		font-size: 1em;
	}
	.class-bottom{
		width: 100%;
    	margin-left: 0;
	}
	.checkBtm{
		width: 100%;
		padding: 5px;
		display: inline-block;
		white-space : nowrap;
		text-overflow:ellipsis;
		overflow: hidden; 
	}
	.checkBtm span{
		font-size: 1em;
	}
	.footer {
/* 		padding: 1em 0; */
	}
	
	.layui-flow-more a cite {
		background-color: #861313;
		color: #fff;
	}
	#actBox2 .back{
		height: 30px;
	    line-height: 30px;
	    font-size: 18px;
	    font-weight: bold;
	    letter-spacing: 3px;
		padding-right: 1em;
		border-radius: 0 15px 15px 0;
	}
	.heading h3{
		height: 30px;
		background-size: auto 30px;
		width: 90%;
	}
	.heading1 h3{
		height: 30px;
		background-size: 100% 30px;
		width: 100%;
	}
	.class-top{
		height: 30px;
	}
	
	.tabBox .tab{
		width: 90%;
	}
	.couponBox .coupons {
		width: 90%;
		
	}
	.couponBox .coupons .coupon {
		padding: 0;
		padding-bottom: 10px;
		width: 100%;
	}
	.stamp {
		width: 317px;
		height: 120px;
	}
	.stamp .par {
	    padding: 11px 15px;
    	width: 55%;
	    border-right: 2px dashed rgba(255,255,255,.3);
	    text-align: left;
	}
	.stamp .par p {
	    font-size: 14px;
	    line-height: 21px;
	}
	.stamp .par span {
	    font-size: 40px;
	    margin-right: 5px;
	    line-height: 55px;
	}
	.stamp .copy1 {
		padding: 10px 0px;
    	width: 40%;
		font-size: 24px;
		left: 180px;
	}
	.stamp .copy1 p {
	    font-size: 14px;
	    margin-top: 0px;
	}
	.apply{
		left: 18%;
	}
	.couponContentBox {
		width: 80%;
		left: 10%;
		top: 15%;
		height: 60%;
	}
	.scrollBar{
		width: 80%;
	}
	.couponBox .searchBox{
		width: 90%;
	}
	.couponApplyBox {
		width: 80%;
		left: 10%;
		top: 15%;
		height: 70%;
	}
	.couponApplyBox .content .applyTitle{
		font-size: 16px;
	}
	.couponContentBox .title{
		font-size: 16px;
	}
}
	