<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</head>
<body><!-- 
活动面积页面<p th:text="${id}"></p> -->
	<form class="layui-form"  action="" lay-filter="userForm" >
     <input type="hidden" name="id" id="id" th:value="${id}" autocomplete="off" class="layui-input">
		<div>
			<button class="layui-btn" lay-submit=""  lay-filter="redPacket">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" id="back">返回</button>
		</div>
		<hr>
    	<div>
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">用户名</label>
				    <div class="layui-input-inline">
				      <input type="text" name="userName" id="actName" lay-verify="actName|required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
				    </div>
			    </div>
    		</div>
    		
    		 <div class="layui-form-item">
			    <label class="layui-form-label">密  码</label>
			    <div class="layui-input-inline">
			      <input type="password" name="pwd" lay-verify="pass" id="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
			    </div>
			    <div class="layui-form-mid layui-word-aux">请填写6到12位</div>
  			</div>
  			
  			 <div class="layui-form-item">
			    <label class="layui-form-label">确认密码</label>
			    <div class="layui-input-inline">
			      <input type="password" name="repassword" id="passconfirm"   lay-verify="passconfirm" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
			    </div>
  			</div>
  			
  			<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">邮箱</label>
				    <div class="layui-input-inline">
				      <input type="text" name="mail"  autocomplete="off" placeholder="请输入邮箱" class="layui-input">
				    </div>
			    </div>
    		</div>
    		
    		 <div class="layui-form-item">
    		  <div class="layui-inline">
			    <label class="layui-form-label">描述</label>
			    <div class="layui-input-block">
			      <textarea placeholder="请输入内容"  name="descr" class="layui-textarea"></textarea>
			    </div>
			   </div>
  			</div>
    		
    		<div class="layui-form-item" >
			    <label class="layui-form-label">角色选择</label>
			    <div class="layui-input-block" id="roleCheck">
			    </div>
  			</div>
    		
    	</div>
    </form>
	<script th:inline="none">
		layui.use(['form', 'layedit', 'laydate','jquery','element'], function(){
			var form = layui.form
			,layer = layui.layer
			,layedit = layui.layedit
			,laydate = layui.laydate
			,$ = layui.jquery
			,element = layui.element;
			
			//日期
			laydate.render({
			  elem: '#beginTime'
			});
			laydate.render({
			  elem: '#endTime'
			});
			
			//自定义验证规则
			form.verify({
				actName:function(value){
					if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){ 
						return '用户名不能有特殊字符'; 
				    } 
				}
			   ,pass: [
			    /^[\S]{6,12}$/
			    ,'密码必须6到12位，且不能出现空格'
			   ]
			  ,passconfirm: function(value){
				  var repwd = $("#password").val();
				  if(repwd!=value)
					  return "密码不一致"
			  }
			  ,mail:[/^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$|^1[3|4|5|7|8]\d{9}$/, '邮箱格式不对']
		   }); 
			
			//监听提交
		    form.on('submit(redPacket)', function(data){
			   if($("#id").val()!=null&&""!=$("#id").val()){
					url = '/user/update';
					data.field.roleStr = addStrs+";"+delStrs;
					 data.field.id = $("#id").val();
			   }else{
		       		var arr = new Array();
	           		$("input:checkbox[name='roleStr']:checked").each(function(i){
	                   arr[i] = $(this).val();
	                });
	           		data.field.roleStr = arr.join(",");
					url = '/user/add';
					data.field.id = 0;
			   }
		       $.ajax({
		    		   url:url
		    		  ,data: data.field
					  ,dataType: 'json'
		              ,beforeSend:function () {
		                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
		              }
		              ,success:function(data){
		            	  layer.msg(data.msg);
		            	  layer.close(this.layerIndex);
		            	  if(data.code == "000000"){
			            	  window.location.href='/user/list';
		            	  }
		              }
		              ,complete: function (){
		            	  layer.close(this.layerIndex);
		              }
		       })
			   return false;
			 }); 
			
			//异步请求角色
			$.ajax({
	    		   url:'/user/role'
	    		  , data:{id:$('#id').val()}
	              ,beforeSend:function () {
	                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
	              }
	              ,success:function(data){
	            	  var checkBoxH = "";
	            	  if(data.length>0){
	            		  for(var i=0;i<data.length;i++){
	            			  checkBoxH = checkBoxH + getCheckBox(data[i],i);
	            		  }
	            	  }
	            	  if(checkBoxH!=""){
	            	    $('#roleCheck').html(checkBoxH);
	            	    form.render();
	            	    layer.close(this.layerIndex);
	                  }
	              }
	              ,complete: function (){
	            	  layer.close(this.layerIndex);
	              }
	    	 }); 
			
				if($("#id").val()!=null&&""!=$("#id").val()){
				$.ajax({
					 url:"/user/getUserConf"
					,data:{id:$("#id").val()}
					,success:function(data){
						form.val('userForm', {
							"userName": data.userName
						    ,"descr": data.descr
						    ,"pwd":'111111'
						    ,"repassword":'111111'
						    ,"mail": data.mail
						  });
						$("#actName").attr("readonly","readonly");
						$("#password").attr("readonly","readonly");
						$("#passconfirm").attr("readonly","readonly");
					}
				    ,complete: function (){}
				})
     		}
             //拼接checkbox			 
			 var haveStr = [];
			 function getCheckBox(item,i){
				 if(item.have){
					haveStr[i] = item.id;
				 }
				  if((i+1)%5==0){
					   return "<input type=\"checkbox\" lay-filter=\"rolelay\" value=\""+item.id+"\" name=\"roleStr\" lay-skin=\"primary\" title=\""+item.roleName+"\"  "+(item.have==true?"checked":"") +"/> <br>";
				  }else{
					   return "<input type=\"checkbox\" lay-filter=\"rolelay\"  value=\""+item.id+"\" name=\"roleStr\" lay-skin=\"primary\" title=\""+item.roleName+"\"   "+(item.have==true?"checked":"") +"/>";
				  }
			 }
			 
		   //监听多选框
		   var addStrs = []; 
		   var delStrs = [];
		   form.on('checkbox(rolelay)', function(data){
			if(data.elem.checked){
			   //只添加原先没有的角色
			   if(haveStr.indexOf(parseInt(data.value))==-1){
				 //addStrs = addStrs +","+ data.value;
				   addStrs.push(parseInt(data.value))
				 
			   }
			   //将原先删除的从删除字符串中移除
			   if(delStrs.indexOf(parseInt(data.value))>=0){
			      delStrs.splice(delStrs.indexOf(parseInt(data.value)),1,"");
			   }
			}else{
			   if(haveStr.indexOf(parseInt(data.value))>=0){
				 // delStrs = delStrs +","+ data.value;
				  delStrs.push(parseInt(data.value))
			   }
			   //将原先添加的从添加字符串中移除
// 			   addStrs = addStrs.replace(data.value,"");
			   if(addStrs.indexOf(parseInt(data.value))>=0){
				     addStrs.splice(addStrs.indexOf(parseInt(data.value)),1,"");
			   }
			}
		  }); 
			 
		 //监听提交
		 $("#back").on('click',function(){
		   window.location.href='/user/list';
		 })
		 
		 
		 function userNameUnique(data){
			 var count ="";
			 $.ajax({
	    		   url:'/user/unique'
	    		  ,data: data
				  ,dataType: 'json'
	              ,success:function(data){
	            	if(data.code=="000000"){
	            		if(data.data>0)
	            			count = data.data; 
	            	}
	              }
	              ,complete: function (){
	            	  layer.close(this.layerIndex);
	              }
			   })
			   return count;
		     } 
		});
	</script>
</body>
</html>        