/* 背景 */
.bg {
    background-image: url('/activityPage/goldenEgg/image/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: local;
}

.fill {
	height: 35%;
}

/* 活动规则 */
.ruleBtn {
	width: 5em;
	height: 2em;
	line-height: 2em;
	background-color: #fdb911;
	border-radius: 1em 0px 0px 1em;
	color: rgba(202, 24, 0, 1);
	position: absolute;
	right: 0px;
	top: 10%;
	text-align: center;
	font-size: 1em;
	cursor:pointer;
}

/* 查看奖品 */
.checkReward {
	position: absolute;
	right: 0;
	top: 25%;
	width: 15%;
	cursor:pointer;
}
.checkReward img {
	width: 100%;
}

/* 彩带 */
.ribbon {
	width: 100%;
	height: 5em;
	text-align: center;
}
.ribbon img{
	width: 90%;
	height: 90%;
}
.activityTime{
	position: relative;
    width: 68%;
    left: 15%;
    top: -60%;
    text-align: center;
    color: #fbfbfb;
    font-size: 0.8em;
}
.activityTime .time {
	color: #840d74;
	background-color: #fff;
	padding: 2px;
	margin-right: 5px;
	border-radius: 2px;
}
.activityTime #msg {
	display: none;
}

/* 中奖公告 */
.scrollBar {
	width: 100%;
	text-align: center;
}
.scrollBar .bar {
	position: relative;
	left: 10%;
	width: 80%;
	height: 26px;
    background-color: rgba(0,0,0,0.3);
	border-radius: 15px;
}
.scrollBar .bar img{
	height: 16px;
	float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.scrollBar .bar .record {
	color: #fbfbfb;
	line-height: 26px;
    width: 85%;
    height: 26px;
    float: right;
    text-align: left;
    overflow: hidden;
}
.scrollBar .bar .record .msg{
    letter-spacing: 1px;
    font-size: 1em;
    color: #fff;
    padding: 5px;
    float: left;
    width: 90%;
    overflow: hidden;
    height: 14px;
    line-height: 17px;
    display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}
.scrollBar .bar .record .name{
    color: yellow;
}

/* 金蛋 */
.goldenEgg{
	width: 100%;
	display:table;
	border-collapse:separate;
	position: relative;
}
.goldenEgg .eggBox{
	width: 100%;
	display:table-row;
}
.goldenEgg .eggBox div{
	display:table-cell;
	width: 33%;
	text-align: center; 	
}
.goldenEgg .eggBox div img{
	max-width: 100%;
	max-height: 50%;
	cursor:pointer;
}

/* 锤子 */
.hammer {
	position: absolute;
	left: 47%;
    top: 5%;
	width: 20%;
	cursor:pointer;
}
.hammer img {
	width: 100%;
}

/* 砸蛋次数 */
.times {
	width: 100%;
	text-align: center;
	color: #fbfbfb;
	font-size: 1.2em;
    margin-top: 20px;
}
.times #times {
	color: #fff175;
}

/* 我的奖品 */
.myReward {
	width: 100%;
	text-align: center;
	margin-top: 12px;
}
.myReward img{
	height: 2em;
	cursor:pointer;
}

/* 砸开金蛋弹窗 */
.smashedEgg {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 80%;
    background-image: url('/activityPage/goldenEgg/image/smashed.png');
    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    display: none;
}
/* .smashedEgg img {
	width: 100%;
} */
.smashedEgg .rewardCon {
	width: 40%;
	margin-left: 30%;
	position: inherit;
	top: 40%;
	text-align: center;
	font-family: FZLTZHK--GBK1-0;
	font-size: 1.2em;
	font-stretch: normal;
	line-height: 1.6em;
	letter-spacing: 0px;
	color: #fefefe;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
}
.smashedEgg .closeBtn {
	position: relative;
	top: 80%;
	margin-left: 30%;
	width: 40%;
	padding: 5px 0;
	line-height: 3em;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #fefefe;
	text-align: center;
	cursor:pointer;
}
/* 登录弹窗 */
.login {
	position: absolute;
	top: 30%;
    left: 15%;
    width: 70%;
    height: 180px;
    z-index: 10;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
}
.login .title {
	margin-top: 20px;
	font-size: 1.2em;
/* 	font-weight: bold; */
}
.login .nameBox {
	margin-top: 20px;
	width: 80%;
	height: 30px;
	line-height: 30px;
	margin-left: 10%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 15px;
	text-align: left;
}
.login .nameBox img{
	width: 16px;
	margin-left: 10px;
	margin-right: 5px;
}
.login .nameBox input{
	width: 80%;
	background:none;
	outline:none;
	border:0px;
	color: #ffffff;
}
.login .nameBox input[type="text"]:focus{
	outline: none;
	color: #ffffff;
}
.login .loginBtn{
	width: 40%;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	background: linear-gradient(to left, #ff5f00, #f7b891);
	color: #fbfbfb;
	margin-left: 30%;
	margin-top: 20px;
	cursor:pointer;
}

/* 规则弹窗 */
.ruleBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 50%;
    z-index: 10;
    text-align: left;
    background-color: #ffffff;
    background-image: url('/activityPage/goldenEgg/image/rule.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: none;
}
.ruleBox .centent {
	width: 80%;
	height: 75%;
	margin-left: 10%;
	margin-top: 23%;
	overflow-y: auto;
}

/* 中奖记录弹窗 */
.recordBox {
	position: absolute;
	top: 20%;
    left: 10%;
    width: 80%;
    height: 50%;
    z-index: 10;
    text-align: center;
    background-color: #ffffff;
    background-image: url('/activityPage/goldenEgg/image/record.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: none;
}
.recordBox .centent {
	width: 80%;
	height: 75%;
	margin-left: 10%;
	margin-top: 25%;
	overflow-y: auto;
	overflow-x: hidden;
}
.recordBox .centent .row {
	width: 98%;
	height: 26px;
	line-height: 26px;
	border-radius: 13px;
	border: 1px solid #f00;
	box-sizing: border-box;
	background-color: #ef7777;  
	color: #fbfbfb;
	font-size: 0.8em;
	margin-top: 5px;
}
.recordBox .centent .row .time{
	width: 50%;	
	float: left;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.recordBox .centent .row .reward{
	width: 20%;	
	text-align: left;
	float: left;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.recordBox .centent .row .isSend{
	width: 3em;	
	text-align: left;
	float: right;
	padding-right: 5px;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

/* 查看奖品弹窗 */
.rewardBox {
	position: absolute;
	top: 30%;
    left: 15%;
    width: 70%;
    height: 220px;
    z-index: 10;
	background-image: url('/activityPage/goldenEgg/image/reward_list.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: none;
}
.rewardBox .centent {
	margin-top: 30%;
    width: 100%;
    height: 120px;
}
.rewardBox .centent .leftBtn {
	width: 16px;
	float: left;
	margin-left: 5%;
	margin-top: 20%;
}
.rewardBox .centent .leftBtn img{
	width: 100%;
}
.rewardBox .centent .rewards {
	width: 75%;
	height: 80%;
/* 	background: #fff; */
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 12%;
	float: left;
}
.rewardBox .centent .rewards .reward {
	width: 30%;
	height: 75%;
	margin-left: 2%;
	margin-top: 5px;
	float: left;
}

.rewardBox .centent .rewards .reward .rewardImg {
	width: 100%;
	height: 80%;
	display: flex;
    justify-content: center;
    align-items: Center;
}
.rewardBox .centent .rewards .reward  .rewardImg img{
/* 	background-color: #777777; */
	border-radius: 5px;
	max-width: 90%;
	max-height: 100%;
}
.rewardBox .centent .rewards .reward .title{
	color: #fbfbfb;
	font-size: 0.8em;
	display: inline-block;
	white-space : nowrap;
	text-overflow:ellipsis;
	overflow: hidden; 
	width:100%;
}

.rewardBox .centent .rightBtn {
	width: 16px;
	float: left;
	margin-top: 20%;
}
.rewardBox .centent .rightBtn img {
	width: 100%;
}

/* 关闭按钮 */
.close {
	position: relative;
	top: 60px;
	padding-left: 45%;
	text-align: left;
}
.close img {
	height: 32px;
	width: 32px;
	cursor:pointer;
}

@media screen and (max-width:360px){
    .recordBox {
    	height: 60%;
    	top: 15%;
    }
    .ruleBox {
    	height: 60%;
    	top: 15%;
    }
}