<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   
   <style>
		/* 防止下拉框的下拉列表被隐藏---必须设置--- */
        .layui-table-cell {
            overflow: visible !important;
            min_height: 500px;
        }
        .layui-table {
        	
        }
        /* 设置下拉框的高度与表格单元相同 */
        .layui-input, .layui-select, .layui-textarea{
            height: 30px !important;
        }
   </style>
</head>
<body>

<input type="hidden" name="actId" id="actId" th:value="${actId}">
<input type="hidden" name="actCategory" id="actCategory" th:value="${actCategory}">

<!-- <div class="layui-inline">
	<input class="layui-input" name="memberName" autocomplete="off" placeholder="请输入会员账号">
</div>
<button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</button> -->

<button type="button" class="layui-btn" onclick="window.location.href='/activity/list?actId=' + $('actCategory').val();">
	<i class="layui-icon"></i>
</button>

<button class="layui-btn  layui-btn-normal" id="addReward" data-type="getInfo">
	<i class="layui-icon layui-icon-add-1"></i>新增
</button>

<!-- <button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-ok">保存</i>
</button> -->

<button class="layui-btn layui-btn layui-btn-danger" id="deleteReward" data-type="getInfo">
	<i class="layui-icon layui-icon-ok"></i>删除
</button>

<table class="layui-table" id="table" lay-filter="boxRule"></table>


<script type="text/html" id="rewardColumn">
	<select name="rewardId" lay-filter="rewardSelect_{{ d.LAY_TABLE_INDEX + 1 }}" id="rewardSelect_{{ d.LAY_TABLE_INDEX + 1 }}">
		{{# layui.each(rewardList, function(index, item){ }}
        <option value="{{ item.id }},{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardId == item.id)?'selected' : '' }}>{{ item.rewardOption }}</option>
        {{# }); }}
	</select>
</script>
<script type="text/html" id="imgUpload">
	<div>
		<img src="{{d.boxImg}}" style="width:20px;height:20px;" class="boxImg_{{d.id}}" onmouseover="showImg('{{d.boxImg}}', {{d.id}})" onmouseout="hiddenImg()">
		<div  class="layui-inline">
		<select id="boxImgSelect_{{ d.LAY_TABLE_INDEX + 1 }}" lay-filter="boxImgSelect_{{ d.LAY_TABLE_INDEX + 1 }}">
			<option value="/activityPage/box/image/11.jpg,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg == '/activityPage/box/image/11.jpg')?'selected' : '' }}>青铜宝箱 </option>
			<option value="/activityPage/box/image/22.jpg,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg == '/activityPage/box/image/22.jpg')?'selected' : '' }}>白银宝箱 </option>
			<option value="/activityPage/box/image/33.jpg,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg == '/activityPage/box/image/33.jpg')?'selected' : '' }}>黄金宝箱 </option>
			<option value="/activityPage/box/image/44.jpg,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg == '/activityPage/box/image/44.jpg')?'selected' : '' }}>铂金宝箱 </option>
			<option value="/activityPage/box/image/55.jpg,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg == '/activityPage/box/image/55.jpg')?'selected' : '' }}>钻石宝箱 </option>
			<option value="/activityPage/box/image/66.jpg,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg == '/activityPage/box/image/66.jpg')?'selected' : '' }}>星耀宝箱 </option>
			<option value="/activityPage/box/image/77.jpg,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg == '/activityPage/box/image/77.jpg')?'selected' : '' }}>至尊宝箱 </option>
			<option value="0,{{ d.LAY_TABLE_INDEX }}" {{ (d.boxImg.indexOf('http')) > -1 ?'selected' : '' }}>自定义</option> 
		</select>
		</div>
		<button type="button" style="display:none;" class="layui-btn layui-btn-xs uploadBtn" id="uploadBtn_{{d.LAY_TABLE_INDEX}}">
			<i class="layui-icon layui-icon-upload "  lay-event="uploadBtn" ></i>
			上传图片
		</button>
	</div>
</script>

<script th:inline="none">
	var rewardList = [];
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		var boxRuleData = [];
		var editData = [];
		
		//获取奖品列表
		getRewardList();
		
		$.ajax({ 
			url: "/boxRule/getList", 
			data: {actId: $("#actId").val()},
			dataType: 'json',
			success: function(result){
				boxRuleData = result.data;
				editData = boxRuleData;
// 				alert(JSON.stringify(result));
				table.render({
				  elem: '#table'
				  ,data: boxRuleData
				  ,height: 700
				  ,limit: 100
				  , where: {
		           	  actId: $("#actId").val()
		          }
				  ,cols: [[ //表头
				  	  {type:'checkbox', fixed: 'left'}
				     ,{field:'id', title: 'ID', width:80, sort: true}
				     ,{field:'level', title: '宝箱等级', edit: 'text'}
				     ,{field:'rewardId', title: '奖品', templet: '#rewardColumn'}
				     ,{field:'boxImg',title:'宝箱图片', templet: '#imgUpload'}
				  ]]
				  ,done: function(res, curr, count){
					
					//文件上传
// 					alert(res.data[0].id);
					var tableElem = this.elem.next(".layui-table-view");
					for(var i = 0;i < res.data.length;i++){
// 						if(res.data[i].id != null && res.data[i].id != ""){
							//监听奖品列表
							form.on('select(rewardSelect_' + (i + 1) + ')', function(data){
								if(res.data[value[1]].id == null || res.data[value[1]].id == ''){
									layer.msg("请先输入宝箱等级");
									return ;
								}
								var value = data.value.split(",");
				    			res.data[value[1]].rewardId = value[0];
								saveOrEdit(res.data[value[1]]);
							});
							
							//监听宝箱图片列表
							form.on('select(boxImgSelect_' + (i + 1) + ')', function(data){
								var value = data.value.split(",");
								if(res.data[value[1]].id == null || res.data[value[1]].id == ''){
									layer.msg("请先输入宝箱等级");
									return ;
								}
								if(value[0] == 0){
									$('#uploadBtn_' + value[1]).click();
								}else if(value[0] == -1){
									layer.msg("请选择图片");
								}else{
									res.data[value[1]].boxImg = value[0];
									saveOrEdit(res.data[value[1]]);
								}
							});
							
							upload.render({
								elem: '#uploadBtn_' + i
								,url: '/boxRule/upload'
								,data: {id: i}
								,done: function(result, index, upload){ //上传后的回调
						        	if(result.code == "000000"){
						        		var obj = result.data;
						        		//查询该行数据
						        		var rData = res.data[obj.id];
					        			rData.boxImg = obj.imgUrl;
					        			saveOrEdit(rData);
						        	}else{
						        		layer.msg(result.msg);
						        	}
								} 
							});
// 						}
					}
					
				  }
				});
				
			}
		});
		
		
		//监听单元格编辑
		table.on('edit(boxRule)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			saveOrEdit(data);
			
		});
		  
		//监听删除按钮
		$('#deleteReward').on('click', function(){
			var checkStatus = table.checkStatus('table');
			var data = checkStatus.data;
			del(data);
		});
		
		//删除
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(data[i].id != null && data[i].id != ""){
	        		if(i == 0){
		        		ids = data[i].id;
		        	}else{
		        		ids += "," + data[i].id;
		        	}
	        	}
	        }
        	
        	$.ajax({ 
				url: "/boxRule/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					
					if(result.code == "000000"){
						
					}
					reload();
					layer.msg(result.msg);
					
				}
			});
		}
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
// 			alert(JSON.stringify(data));
			if(data.level == null || data.level == ""){
				return false;
			}else if(data.rewardId == null || data.rewardId == ""){
				return false;
			}
			
			delete data.rewardConf;
			
			var url = "/boxRule/save";
			if(data.id != null && data.id != ""){
				url = "/boxRule/edit"
			}
			$.ajax({ 
				url: url, 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//刷新
		function reload () {
			console.log("刷新");
			$.ajax({ 
				url: "/boxRule/getList", 
				data: {actId: $("#actId").val()},
				dataType: 'json',
				success: function(result){
					boxRuleData = result.data;
// 					alert(JSON.stringify(boxRuleData));
					//执行重载
		            table.reload('table', {
		                data: boxRuleData
		            });
				}
				
			});
			
            
     	}
		
		//新增按钮监听
		$('#addReward').on('click', function(){
			var rewardId = "";
			if(rewardList != null && rewardList.length > 0){
				rewardId = rewardList[0].id;
			}
			var addData={
					"id":"",
					"actId": $('#actId').val(),
					"level":"",
					"rewardId": rewardId,
					"boxImg":"/activityPage/box/image/11.jpg"
					};
			boxRuleData.push(addData);
			table.reload('table',{
			    data : boxRuleData
			});
			
		});
		
		//获取奖品列表
		function getRewardList(){
			$.ajax({ 
				url: "/rewardConf/getRewardConfList", 
				data: {actId: $("#actId").val()},
				dataType: 'json',
				async: false,
				success: function(result){
					if(result.code = '000000'){
						rewardList = result.data;
					}
				}
				
			});
		}
		
	});
	
	var img_show;
	//图片预览
	function showImg(boxImg, id){
		var img = "<img class='img_msg' src='"+ boxImg +"' style='width:160px;' />";
        img_show = layer.tips(img, '.boxImg_' + id,{
            tips:2
            ,area: ['200px']
        });
	}
	
	//隐藏图片
	function hiddenImg(){
		layer.close(img_show);
	}
	
</script>
</body>
</html>        
        