<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</head>
<body><!-- 
活动面积页面<p th:text="${id}"></p> -->

	
	<form class="layui-form" action="" lay-filter="example">
		<input type="hidden" name="id" id="id" th:value="${id}">
		<input type="hidden" name="actId" id="actId" th:value="${actId}">
		<div>
			<button class="layui-btn" lay-submit="" lay-filter="redPacket">保存</button>
			<button type="button" class="layui-btn layui-btn-primary" onclick="window.history.go(-1);">返回</button>
		</div>
		
		<hr>
    
    	<div>
    	
    		<div class="layui-form-item">
    			<div class="layui-inline">
	    			<label class="layui-form-label">奖项名称</label>
				    <div class="layui-input-inline">
				      <input type="text" name="rewardOption" id="rewardOption" lay-verify="rewardOption|required" autocomplete="off" placeholder="请输入奖项名称" class="layui-input">
				    </div>
			    </div>

			    <div class="layui-inline">
				    <label class="layui-form-label">奖品数量</label>
				    <div class="layui-input-inline">
				      <input type="text" name="rewardNum" id="rewardNum" lay-verify="rewardNum|number" autocomplete="off" placeholder="请输入奖品数量" class="layui-input">
				    </div>
			    </div>
			    
			    <div class="layui-inline">
				    <label class="layui-form-label">中奖概率</label>
				    <div class="layui-input-inline">
				      <input type="text" name="ratio" id="ratio" lay-verify="ratio|number" autocomplete="off" placeholder="请输入中奖概率" class="layui-input">
				    </div>
			    </div>
    		</div>
    		
    		<div class="layui-form-item" >
    			<div class="layui-inline" style="float: left;">
	    			<label class="layui-form-label">奖品类型</label>
				    <div class="layui-input-inline">
				      <select id="rewardType" lay-filter="rewardType">
				        <option value="0" selected="">范围</option>
				        <option value="1">多个奖品</option>
				        <option value="2">单个奖品</option>
				      </select>
				    </div>
			    </div>
			    
			    <div class="layui-inline">
				    <label class="layui-form-label">奖品</label>
				    <div class="layui-input-inline" style="width:240px;">
						<input type="text" name="rewardCon" id="rewardCon" lay-verify="rewardCon" autocomplete="off" class="layui-input" style="display: none;">
				      
						<div id="range">
							<div class="layui-input-inline" style="width: 100px;">
								<input type="text" id="priceMin" lay-verify="priceMin" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-form-mid">-</div>
							<div class="layui-input-inline" style="width: 100px;">
								<input type="text" id="priceMax" lay-verify="priceMax" autocomplete="off" class="layui-input">
							</div>
				      </div>
				      
				      <div id="complex" style="display: none;">
							<div class="layui-inline">
							    <div class="layui-input-inline">
							      <input type="text" id="rewards" autocomplete="off" placeholder="逗号隔开，例：2,3,4,5" class="layui-input">
							    </div>
						    </div>
				      </div>
				      
				      <div id="singular" style="display: none;">
							<div class="layui-inline">
							    <div class="layui-input-inline">
							      <input type="text" id="reward" lay-verify="reward" autocomplete="off" placeholder="请输入奖品" class="layui-input">
							    </div>
						    </div>
				      </div>
				      
				    </div>
			    </div>
    		</div>
    		
    		<div class="layui-form-item" style="padding-left:40px;">
			    
			    <div class="layui-upload">
				    <button type="button" class="layui-btn" id="uploadBtn">奖品图片</button>
					<div class="layui-upload-list">
					  <img class="layui-upload-img" id="img" style="width:100px;height:100px;" >
					  <p id="demoText"></p>
					  <input type="hidden" id="rewardImg" name="rewardImg">
					</div>
    			</div>
    		</div>
    		
    	</div>
    
    </form>
    
	<script th:inline="none">
		
		layui.use(['form', 'layedit', 'laydate','jquery', 'upload'], function(){
			var form = layui.form
			,layer = layui.layer
			,layedit = layui.layedit
			,laydate = layui.laydate
			,$ = layui.jquery
			,upload = layui.upload;

			//日期
			laydate.render({
			  elem: '#beginTime'
			});
			laydate.render({
			  elem: '#endTime'
			});
			
			//表单初始赋值
			var id = $("#id").val();
			if(id != null && id != ""){
				/* $.ajax({ 
					url: "/activity/getActivityById", 
					data: {id: id},
					dataType: 'json',
					async: false,
					success: function(result){
						
						if(result.code == "000000"){
							var obj = result.obj;
// 							alert(JSON.stringify(obj));

							form.val('example', {
								"actName":  obj.actName
							     ,"verId": obj.verId
							    ,"bangDomain": obj.bangDomain
							    ,"beginTime": obj.beginTime
							    ,"endTime": obj.endTime
							    ,"announcement": obj.announcement
							    ,"actRule": obj.actRule
							    ,"statement": obj.statement
							    ,"backGroundImg": obj.backGroundImg 
							  });
							
							
							
						}else{
							layer.msg("获取活动信息失败");
						}
						
						
						
					}
				}); */
			}
			
			/* form.val('example', {
				"actName":  "qqq"
			     ,"verId": obj.verId
			    ,"bangDomain": obj.bangDomain
			    ,"beginTime": obj.beginTime
			    ,"endTime": obj.endTime
			    ,"announcement": obj.announcement
			    ,"actRule": obj.actRule
			    ,"statement": obj.statement
			    ,"backGroundImg": obj.backGroundImg 
			  }); */
			
			//文件上传
			upload.render({
				elem: '#uploadBtn'
				,url: '/rewardConf/upload'
				,done: function(res, index, upload){ //上传后的回调
// 					alert(JSON.stringify(res));
					layer.msg(res.msg);
		        	if(res.code == "000000"){
		        		$('#rewardImg').val(res.obj);
		        		$('#img').attr("src", res.obj);
		        	}
				} 
				//,accept: 'file' //允许上传的文件类型
				//,size: 50 //最大允许上传的文件大小
				//,……
			});
			  
			//监听下拉框
			form.on('select(rewardType)', function(data){
				//清除数据
				$('#priceMin').val("");
				$('#priceMax').val("");
				$('#rewards').val("");
				$('#reward').val("");
				if(data.value == 0){
					//范围
					$('#range').css("display", "block");
					$('#complex').css("display", "none");
					$('#singular').css("display", "none");
				}else if(data.value == 1){
					//单个
					$('#range').css("display", "none");
					$('#complex').css("display", "block");
					$('#singular').css("display", "none");
				}else if(data.value == 2){
					//多个
					$('#range').css("display", "none");
					$('#complex').css("display", "none");
					$('#singular').css("display", "block");
				}
			});
			  
			//监听提交
			form.on('submit(redPacket)', function(data){
// 				alert(JSON.stringify(data.field));
				if($('#rewardType').val() == 0){
					data.field.rewardCon = $('#priceMin').val() + "~" + $('#priceMax').val();
				}else if($('#rewardType').val() == 1){
					data.field.rewardCon = $('#rewards').val().replace(/，/g, ",");
				}else if($('#rewardType').val() == 2){
					data.field.rewardCon = $('#reward').val()
				}
				
// 				alert(JSON.stringify(data.field));
				var url = "/rewardConf/save";
				if(data.field.id != null && data.field.id != ""){
					url = "/rewardConf/edit"
				}
				$.ajax({ 
					url: url, 
					data: data.field,
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
			        	if(result.code == "000000"){
			        		window.history.go(-1);
			        	}
			        	
					}
				});
				
				return false;
			});
		});
	
	</script>

</body>
</html>        