<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
</head>
<body>

<input type="hidden" name="actId" id="actId" th:value="${actId}">
<input type="hidden" name="actCategory" id="actCategory" th:value="${actCategory}">
<input type="hidden" name="flag" id="flag" th:value="${flag}">

<button type="button" class="layui-btn" 
	onclick="window.location.href='/activity/list?actId=' + document.getElementById('actCategory').value;">
	<i class="layui-icon"></i>
</button>

<div class="layui-inline">
	<input class="layui-input" name="memberName" autocomplete="off" placeholder="请输入会员账号">
</div>
<button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</button>

<button type="button" class="layui-btn layui-btn-normal" id="impMember" lay-filter="impMember">
	<i class="layui-icon layui-icon-upload " ></i>
	批量导入
</button>

<button type="button" class="layui-btn layui-btn-primary" id="downMould" lay-filter="downMould">
	<i class="layui-icon layui-icon-download-circle" ></i>
	模板下载
</button>

<table class="layui-table" id="table" lay-filter="memberAct"></table>



<script type="text/html" id="addMember">
	<form class="layui-form" action="" lay-filter="example">
		<div style="margin-top:10px;padding-right:10px;">
			<div class="layui-form-item" >
				<label class="layui-form-label">会员账号 </label>
				<div class="layui-input-block">
				<input type="text" name="memberName" id="memberName" lay-verify="memberName|required" autocomplete="off" placeholder="请输入会员账号" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">可参加次数 </label>
				<div class="layui-input-block">
				<input type="number" name="allTimes" id="allTimes" lay-verify="allTimes|required|number" autocomplete="off" placeholder="请输入可参加次数" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" id="levelBox">
				<label class="layui-form-label">宝箱 </label>
				<div class="layui-input-block">
					<select id="level" name="level">
						<option value="青铜" >青铜 </option>
						<option value="白银" >白银 </option>
						<option value="黄金">黄金 </option>
						<option value="铂金" >铂金 </option>
						<option value="钻石" >钻石 </option>
						<option value="星耀" >星耀 </option>
						<option value="至尊">至尊 </option>
					</select>
				</div>
			</div>
		</div>
	</form>
</script>
            
<script th:inline="none">
	
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		//获取等级
// 		var levelList = [];
		var area = "300px";
		var cols = [
			{type:'checkbox', fixed: 'left'}
		     ,{field:'id', title: 'ID', width:80, sort: true}
		     ,{field:'memberName', title: '会员账号'}
		     ,{field:'allTimes', title: '可参与次数'}
		     ,{field:'participatedTimes', title: '已参与次数'}
		     ,{field:'type', title: '类型', templet:
				function (row){
		    	 	if(row.type == 0){
		    	 		return "会员";
		    	 	}else if(row.type == 1){
		    	 		return "游客";
		    	 	}else{
		    	 		return "";
		    	 	}
				}
		     }
		     ,{field:'createTime',title:'创建时间', templet:
				function (row){
					return createTime(row.createTime);
				}
		     }
		]
		if($('#flag').val() == "box"){
			//宝箱活动显示等级
			/* $.ajax({ 
				url: "/boxRule/getList", 
				data: {actId: $('#actId').val()},
				dataType: 'json',
				success: function(result){
					if(result.code == "0"){
						var obj = result.data;
						if(obj != null){
							for(var i = 0;i < obj.length;i++){
								levelList.push(obj[i].level);
							}
						}
					}
				}
			}); */
			area = ["300px", "300px"];
			cols = [
				{type:'checkbox', fixed: 'left'}
			     ,{field:'id', title: 'ID', width:80, sort: true}
			     ,{field:'memberName', title: '会员账号'}
			     ,{field:'level',title:'宝箱'}
			     ,{field:'allTimes', title: '可参与次数'}
			     ,{field:'participatedTimes', title: '已参与次数'}
			     ,{field:'type', title: '类型', templet:
					function (row){
			    	 	if(row.type == 0){
			    	 		return "会员";
			    	 	}else if(row.type == 1){
			    	 		return "游客";
			    	 	}else{
			    	 		return "";
			    	 	}
					}
			     }
			     ,{field:'createTime',title:'创建时间', templet:
					function (row){
						return createTime(row.createTime);
					}
			     }
			]
			
		}
		
		table.render({
		  elem: '#table'
		  ,url: '/memberAct/getList' //数据接口
		  , where: {
           	  actId: $("#actId").val()
          }
		  ,page: true //开启分页
		  ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		  ,cols: [cols]
		});
		
		//文件上传
		upload.render({
			elem: '#impMember'
			,url: '/memberAct/impExcel'
			,data: {actId: $('#actId').val(), flag: $('#flag').val()}
			,done: function(res, index, upload){ //上传后的回调
				layer.msg(res.msg);
	        	if(res.code == "000000"){
	        		reload();
	        	}
			} 
			,accept: 'file' //允许上传的文件类型
			,exts: 'xls|xlsx' //允许上传的文件后缀
			//,size: 50 //最大允许上传的文件大小
			//,……
		});
		  
		//监听头工具栏事件
		table.on('toolbar(memberAct)', function(obj){
		  var checkStatus = table.checkStatus(obj.config.id)
		  ,data = checkStatus.data; //获取选中的数据
		  switch(obj.event){
		    case 'add':
				//新增表单
		    	layer.open({
					type: 1
			        ,title: false //不显示标题栏
			        ,closeBtn: false
			        ,area: area
			        ,shade: 0.8
			        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			        ,btn: ['确定', '取消']
			        ,btnAlign: 'c'
			        ,moveType: 1 //拖拽模式，0或者1
			        ,content: $('#addMember').html()
			        ,success: function(layero){
			        	if($('#flag').val() == "box"){
			        		/* var content = '';
				        	for(var i = 0;i < levelList.length;i++){
				        		content += '<option value="' + levelList[i] + '">';
				        		content += levelList[i];
				        		content += '</option>';
				        	}
				        	$('#level').html(content);*/
				        	form.render('select'); 
			        	}else{
			        		$('#levelBox').hide();
			        	}
			        }
			        ,yes: function(index, layeo){
			        	var memberName = $('#memberName').val().trim();
		        		var allTimes = $('#allTimes').val().trim();
		        		var level = $('#level').val();
		        		var actId = $('#actId').val();
		        		if(memberName == null || memberName == ""){
		        			layer.msg("请输入会员账号");
		        			return ;
		        		}
		        		if(allTimes == null || allTimes == ""){
		        			layer.msg("请输入可参加次数");
		        			return ;
		        		}
		        		var patrn = /^\d+$/;
						if(!patrn.test(allTimes)){
							layer.msg("可参加次数必须为正整数");
		        			return ;
						}
		        		
		        		
		        		//保存会员
		        		$.ajax({ 
		    				url: "/memberAct/save", 
		    				data: {actId: actId, memberName: memberName, allTimes: allTimes, level: level},
		    				dataType: 'json',
		    				success: function(result){
		    					
		    					if(result.code == "000000"){
		    						reload();
		    					}
		    					
		    					layer.msg(result.msg);
		    					
		    				}
		    			});
		        	    layer.close(index);
			        }
				}); 
		    	
		    break;
		    case 'update':
				if(data.length === 0){
					layer.msg('请选择一行');
				} else if(data.length > 1){
					layer.msg('只能同时编辑一个');
				} else {
					//编辑表单
			    	layer.open({
						type: 1
				        ,title: false //不显示标题栏
				        ,closeBtn: false
				        ,area: area
				        ,shade: 0.8
				        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
				        ,btn: ['确定', '取消']
				        ,btnAlign: 'c'
				        ,moveType: 1 //拖拽模式，0或者1
				        ,content: $('#addMember').html()
				        ,success: function(layero){
				        	$("#memberName").attr("readOnly","true");
				        	$('#memberName').val(data[0].memberName);
				        	$('#allTimes').val(data[0].allTimes);
				        	if($('#flag').val() == "box"){
				        		/* var content = '';
					        	for(var i = 0;i < levelList.length;i++){
					        		content += '<option value="' + levelList[i] + '">';
					        		content += levelList[i];
					        		content += '</option>';
					        	}
					        	$('#level').html(content);*/
					        	$('#level').val(data[0].level);
					        	form.render('select'); 
				        	}else{
				        		$('#levelBox').hide();
				        	}
				        }
				        ,yes: function(index, layeo){
				        	var allTimes = $('#allTimes').val().trim()
				        	if(allTimes == null || allTimes == ""){
			        			layer.msg("请输入可参加次数");
			        			return ;
			        		}
				        	var patrn = /^\d+$/;
							if(!patrn.test(allTimes)){
								layer.msg("可参加次数必须为正整数");
			        			return ;
							}
			        		var level = $('#level').val();
			        		var id = data[0].id;
			        	    //保存会员
			        		$.ajax({ 
			    				url: "/memberAct/edit", 
			    				data: {id: id, allTimes: allTimes,level:level},
			    				dataType: 'json',
			    				success: function(result){
			    					if(result.code == "000000"){
			    						reload();
			    					}
			    					layer.msg(result.msg);
			    				}
			    			});
			        		layer.close(index);
				        }
					}); 
				}
		    break;
		    case 'delete':
			if(data.length === 0){
				layer.msg('请选择一行');
			} else {
			
			layer.confirm('确认要删除？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
				     del(data);
				}, function () {
			});
  	 
      
    }
		    break;
		  };
		});
		  
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(i == 0){
	        		ids = data[i].id;
	        	}else{
	        		ids += "," + data[i].id;
	        	}
	        }
        	
        	$.ajax({ 
				url: "/memberAct/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					
					if(result.code == "000000"){
						reload();
					}
					
					layer.msg(result.msg);
					
				}
			});
		}
		
		function reload () {
            //执行重载
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		actId: $("#actId").val()
            		,memberName: $("input[name=memberName]").val()
                }
            });
     	}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
		//模板下载按钮监听
		$('#downMould').on('click', function(){
			if($('#flag').val() == "box"){
				//宝箱活动
				window.location.href = "/mould/boxMemberAct.xlsx";
			}else{
				window.location.href = "/mould/memberAct.xlsx";
			}
		});
		  
	});

</script>
</body>
</html>        
        