<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <style>
		/* 防止下拉框的下拉列表被隐藏---必须设置--- */
        .layui-table-cell {
            overflow: visible !important;
            min_height: 500px;
        }
        .layui-table {
        	
        }
        /* 设置下拉框的高度与表格单元相同 */
        .layui-input, .layui-select, .layui-textarea{
            height: 30px !important;
        }
   </style>
   
</head>
<body>

<input type="hidden" name="actId" id="actId" th:value="${actId}">
<input type="hidden" name="actCategory" id="actCategory" th:value="${actCategory}">
<input type="hidden" name="flag" id="flag" th:value="${flag}">

<!-- <div class="layui-inline">
	<input class="layui-input" name="memberName" autocomplete="off" placeholder="请输入会员账号">
</div>
<button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</button> -->

<button type="button" class="layui-btn" onclick="window.history.go(-1);">
	<i class="layui-icon"></i>
</button>

<button class="layui-btn  layui-btn-normal" id="addReward" data-type="getInfo">
	<i class="layui-icon layui-icon-add-1"></i>新增
</button>

<!-- <button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-ok">保存</i>
</button> -->

<button class="layui-btn layui-btn layui-btn-danger" id="deleteReward" data-type="getInfo">
	<i class="layui-icon layui-icon-ok"></i>删除
</button>

<table class="layui-table" id="table" lay-filter="rewardConf"></table>

<script type="text/html" id="editRewardCon">
	<form class="layui-form" action="" lay-filter="example">
	<div class="layui-form-item" style="margin-top:10px;height:120px;">
		<div class="layui-inline" style="float: left;">
   			<label class="layui-form-label">奖品类型</label>
		    <div class="layui-input-block">
		      <select id="rewardType" lay-filter="rewardType">
		        <option value="0" selected="">范围</option>
		        <option value="2">单个奖品</option>
		      </select>
		    </div>
	    </div>
	    
	    <div class="layui-inline">
		    <label class="layui-form-label">奖品</label>
		    <div class="layui-input-block" style="width:240px;">
				<input type="text" name="rewardCon" id="rewardCon" lay-verify="rewardCon" autocomplete="off" class="layui-input" style="display: none;">
		      
				<div id="range">
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" id="priceMin" lay-verify="priceMin" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid">-</div>
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" id="priceMax" lay-verify="priceMax" autocomplete="off" class="layui-input">
					</div>
		      </div>
		      
		      <div id="complex" style="display: none;">
					<div class="layui-inline">
					    <div class="layui-input-inline">
					      <input type="text" id="rewards" autocomplete="off" placeholder="逗号隔开，例：2,3,4,5" class="layui-input">
					    </div>
				    </div>
		      </div>
		      
		      <div id="singular" style="display: none;">
					<div class="layui-inline">
					    <div class="layui-input-inline">
					      <input type="text" id="reward" lay-verify="reward" autocomplete="off" placeholder="请输入奖品" class="layui-input">
					    </div>
				    </div>
		      </div>
		      
		    </div>
	    </div>
  	</div>
	</form>
</script>
<!-- <i class="layui-icon layui-icon-upload" lay-event="uploadBtn"></i> -->
<!-- 	<i class="layui-icon layui-icon-upload uploadBtn" id="uploadBtn_{{d.id}}" ></i> -->
<script type="text/html" id="imgUpload">
	<div>
		<img src="{{d.rewardImg}}" style="width:20px;height:20px;" class="rewardImg_{{d.id}}" onmouseover="showImg('{{d.rewardImg}}', {{d.id}})" onmouseout="hiddenImg()">
		<!-- <i class="layui-icon layui-icon-picture rewardImg_{{d.id}}" onmouseover="showImg('{{d.rewardImg}}', {{d.id}})" onmouseout="hiddenImg()"></i> -->
		<button type="button" class="layui-btn layui-btn-xs uploadBtn" id="uploadBtn_{{d.id}}">
			<i class="layui-icon layui-icon-upload "  lay-event="uploadBtn" ></i>
			上传图片
		</button>
	</div>
</script>

<script type="text/html" id="optionColumn">
	<div>
		<div  class="layui-inline">
		<select id="boxSelect_{{ d.LAY_TABLE_INDEX + 1 }}" lay-filter="boxSelect_{{ d.LAY_TABLE_INDEX + 1 }}">
			<option value="青铜,{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardOption == '青铜')?'selected' : '' }}>青铜 </option>
			<option value="白银,{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardOption == '白银')?'selected' : '' }}>白银 </option>
			<option value="黄金,{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardOption == '黄金')?'selected' : '' }}>黄金 </option>
			<option value="铂金,{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardOption == '铂金')?'selected' : '' }}>铂金 </option>
			<option value="钻石,{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardOption == '钻石')?'selected' : '' }}>钻石 </option>
			<option value="星耀,{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardOption == '星耀')?'selected' : '' }}>星耀 </option>
			<option value="至尊,{{ d.LAY_TABLE_INDEX }}" {{ (d.rewardOption == '至尊')?'selected' : '' }}>至尊 </option>
		</select>
		</div>
	</div>
</script>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		var rewardData = [];
		var cols = [
				{type:'checkbox', fixed: 'left'}
			     ,{field:'id', title: 'ID', width:80, sort: true}
			     ,{field:'rewardOption', title: '奖项（如：一等奖）', edit: 'text'}
			     ,{field:'rewardCon', title: '奖品', edit: 'text', event: 'setRewardCon'}
// 			     ,{field:'unit', title: '单位', edit: 'text'}
			     ,{field:'ratio', title: '中奖概率(%)', edit: 'number'}
			     ,{field:'rewardNum',title:'奖品数量', edit: 'number'}
			     ,{field:'winNum',title:'中奖数'}
			     ,{field:'rewardImg',title:'奖品图片', templet: '#imgUpload'}
	     ];
		
		if($('#flag').val() == "box"){
			//宝箱活动
			cols = [
				{type:'checkbox', fixed: 'left'}
		     	,{field:'id', title: 'ID', width:80, sort: true}
		     	,{field:'rewardOption', title: '宝箱', templet: '#optionColumn'}
		     	,{field:'rewardCon', title: '奖品', edit: 'text', event: 'setRewardCon'}
// 		     	,{field:'unit', title: '单位', edit: 'text'}
		     	,{field:'ratio', title: '中奖概率(%)', edit: 'number'}
		     	,{field:'rewardNum',title:'奖品数量', edit: 'number'}
		     	,{field:'winNum',title:'中奖数'}
	     	];
		}
		
		$.ajax({ 
			url: "/rewardConf/getList", 
			data: {actId: $("#actId").val()},
			dataType: 'json',
			success: function(result){
				rewardData = result.data;
// 				alert(JSON.stringify(result));
				table.render({
				  elem: '#table'
				  ,data: rewardData
				  ,limit: 100
				  ,height: 700
				  , where: {
		           	  actId: $("#actId").val()
		          }
				  ,cols: [cols]
				  ,done: function(res, curr, count){
					//文件上传
					var tableElem = this.elem.next(".layui-table-view");
					for(var i = 0;i < res.data.length;i++){
						
						//监听宝箱列表
						form.on('select(boxSelect_' + (i + 1) + ')', function(data){
							var value = data.value.split(",");
							res.data[value[1]].rewardOption = value[0];
// 							alert(JSON.stringify(res.data[value[1]]));
							saveOrEdit(res.data[value[1]]);
						});
						
						if(res.data[i].id != null && res.data[i].id != ""){
							upload.render({
								elem: '#uploadBtn_' + res.data[i].id
								,url: '/rewardConf/upload'
								,data: {id: res.data[i].id}
								,done: function(res, index, upload){ //上传后的回调
									
						        	if(res.code == "000000"){
						        		var obj = res.data;
// 						        		alert(JSON.stringify(obj));
						        		
						        		//查询该行数据
						        		for(var j = 0;j < rewardData.length;j++){
						        			if(rewardData[j].id == obj.id){
						        				var rData = rewardData[j];
						        				rData.rewardImg = obj.imgUrl;
						        				saveOrEdit(rData);
						        			}
						        		}
						        	}else{
						        		layer.msg(res.msg);
						        	}
								} 
							});
						}
					}
					
				  }
				});
			}
		});
		
		//监听单元格事件
		table.on('tool(rewardConf)', function(obj){
			var data = obj.data;
			if(obj.event === 'setRewardCon'){
				layer.open({
					type: 1
			        ,title: false //不显示标题栏
			        ,closeBtn: false
			        ,area: '400px;'
			        ,shade: 0.8
			        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			        ,btn: ['确定', '取消']
			        ,btnAlign: 'c'
			        ,moveType: 1 //拖拽模式，0或者1
			        ,content: $('#editRewardCon').html()
			        ,success: function(layero){
			        	form.render('select');
			        	//监听下拉框
						form.on('select(rewardType)', function(data){
							//清除数据
							$('#priceMin').val("");
							$('#priceMax').val("");
							$('#rewards').val("");
							$('#reward').val("");
							if(data.value == 0){
								//范围
								$('#range').css("display", "block");
								$('#complex').css("display", "none");
								$('#singular').css("display", "none");
							}else if(data.value == 1){
								//单个
								$('#range').css("display", "none");
								$('#complex').css("display", "block");
								$('#singular').css("display", "none");
							}else if(data.value == 2){
								//多个
								$('#range').css("display", "none");
								$('#complex').css("display", "none");
								$('#singular').css("display", "block");
							}
						});
			        	
			        }
			        ,yes: function(index, layeo){
			        	var value = '';
		        		if($('#rewardType').val() == 0){
		        			var r = /^[0-9]+$/;
		        			if(!r.test($('#priceMin').val())){
		        				layer.msg("范围必须是正整数");
		        				return ;
		        			}
		        			r = /^[0-9]+$/;
		        			if(!r.test($('#priceMax').val())){
		        				layer.msg("范围必须是正整数");
		        				return ;
		        			}
		        			value = $('#priceMin').val().trim() + "~" + $('#priceMax').val().trim();
						}else if($('#rewardType').val() == 1){
							value = $('#rewards').val().trim().replace(/，/g, ",");
						}else if($('#rewardType').val() == 2){
							if($('#reward').val() == null || $('#reward').val().trim() == ''){
								layer.msg("奖品不能为空");
								return ;
							}
							value = $('#reward').val().trim();
						}
		        		obj.update({
							rewardCon: value
						});
		        		
		        		data.rewardCon = value;
		        		saveOrEdit(data);
		        		layer.close(index);
			        }
				}); 
			}
		});
		
		//监听单元格编辑
		table.on('edit(rewardConf)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			
			saveOrEdit(data);
			
// 			layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
		});
		  
		//监听删除按钮
		$('#deleteReward').on('click', function(){
			layer.confirm('确认要删除？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
					var checkStatus = table.checkStatus('table');
					var data = checkStatus.data;
					del(data);
				}, function () {
			});
			
		});
		
		//删除
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(data[i].id != null && data[i].id != ""){
	        		if(i == 0){
		        		ids = data[i].id;
		        	}else{
		        		ids += "," + data[i].id;
		        	}
	        	}
	        }
        	
        	$.ajax({ 
				url: "/rewardConf/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					if(result.code == "000000"){
						
					}
					reload();
					layer.msg(result.msg);
				}
			});
		}
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
// 			alert(JSON.stringify(data));
			var patrn = /^\d+$/;
			var ratioReg = /^[0-9]+(.[0-9]{0,2})?$/;
			if(data.rewardOption == null || data.rewardOption.trim() == ""){
				return false;
			}else if(data.rewardCon == null || data.rewardCon.trim() == ""){
				return false;
			}else if(data.ratio == null || data.ratio == ""){
				return false;
			}else if(!ratioReg.test(data.ratio)){
				layer.msg("中奖概率必须是两位小数的正数");
				return false;
			}else if(data.ratio < 0 || data.ratio > 100){
				layer.msg("中奖概率在0~100之间");
				return false;
			}else if(!patrn.test(data.rewardNum)){
				layer.msg("奖品数量必须是正整数");
				return false;
			}else if(data.rewardNum == null || data.rewardNum == ""){
				data.rewardNum = 0;
			}
			
			delete data.createTime;
			
			var url = "/rewardConf/save";
			if(data.id != null && data.id != ""){
				url = "/rewardConf/edit"
			}
			$.ajax({ 
				url: url, 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//刷新
		function reload () {
			console.log("刷新");
			$.ajax({ 
				url: "/rewardConf/getList", 
				data: {actId: $("#actId").val()},
				dataType: 'json',
				success: function(result){
					rewardData = result.data;
// 					alert(JSON.stringify(rewardData));
					//执行重载
		            table.reload('table', {
		                data: rewardData
		            });
				}
				
			});
			
            
     	}
		
		//新增按钮监听
		$('#addReward').on('click', function(){
// 			var oldData =  table.cache["baseInfo"];
			//判断是否有没保存的数据
			if(rewardData != null){
				for(var i = 0;i < rewardData.length;i++){
					if(rewardData[i].id == null || rewardData[i].id == ''){
						layer.msg("请先填写完毕");
						return false;
					}
				}
			}
			
			
			var addData={
					"id":"",
					"actId": $('#actId').val(),
					"rewardOption":"",
					"rewardCon":"",
					"ratio":0,
					"rewardNum":0,
					"winNum":0,
					"rewardImg":""
					};
			
			if($('#flag').val() == 'box'){
				//宝箱
				addData={
						"id":"",
						"actId": $('#actId').val(),
						"rewardOption":"青铜",
						"rewardCon":"",
						"ratio":0,
						"rewardNum":0,
						"winNum":0,
						"rewardImg":""
						};
			}
			rewardData.push(addData);
			table.reload('table',{
			    data : rewardData
			});
		});
		
		
// 		element.init();
	});
	
	var img_show;
	//图片预览
	function showImg(rewardImg, id){
		var img = "<img class='img_msg' src='"+ rewardImg +"' style='width:160px;' />";
        img_show = layer.tips(img, '.rewardImg_' + id,{
            tips:2
            ,area: ['200px']
        });
	}
	
	//隐藏图片
	function hiddenImg(){
		layer.close(img_show);
	}
	
</script>
</body>
</html>        
        