<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/qrcode/qrcode.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   
   <style type="text/css">
   		.signBox {
   			margin-top: 1em;
   			margin-left: 0.5em; 
   			width: 95%;
   		}
   		.dayBox {
			display: inline-block;
			margin-bottom: 1em;
		}
   		.dayBox input[type=checkbox] {
			visibility: hidden;
			display: none;
		}
		.day +span{
		    display: block;
		    width: 2em;
		    height: 2em;
		    line-height: 2em;
		    cursor: pointer;
		    background-color: #e9e9e9;
		    border-radius: 1em;
		    font-size: 1em;
		    color: #000;
		    text-align: center;
		    margin-right: 0.5em;
		    margin-left: 0.5em;
		}
   
   </style>
   
</head>
<body>

<input type="hidden" name="actId" id="actId" th:value="${actId}">
<input type="hidden" name="actCategory" id="actCategory" th:value="${actCategory}">

<div class="layui-inline">
	<button type="button" class="layui-btn" 
		onclick="window.location.href='/activity/list?actId=' + document.getElementById('actCategory').value;">
		<i class="layui-icon"></i>
	</button>
</div>

<div class="layui-inline">
	<input class="layui-input" name="memberName" id="memberName" autocomplete="off" placeholder="请输入会员账号">
</div>
<button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</button>

<button class="layui-btn layui-btn-normal" id="signBtn" data-type="getInfo">
	补签
</button>

<table class="layui-table" id="table" lay-filter="signRecord"></table>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery; 
		
		table.render({
			elem: '#table'
			,url: '/signRecord/getList' //数据接口
			, where: {
			       	  actId: $("#actId").val()
			      }
			,page: true //开启分页
			,cols: [[ //表头
				{type:'checkbox', fixed: 'left'}
			   ,{field:'id', title: 'ID', width:80, sort: true}
			   ,{field:'memberName', title: '签到会员', templet: 
					function(d){
				   		if(d.member != null){
				   			return d.member.memberName;
				   		}
						return "";
				   	}
			   }
			   ,{field:'signType', title: '签到类型', templet: 
					function(d){
				   		if(d.signType == 0){
				   			return "签到";
				   		}else if(d.signType == 1){
				   			return "补签";
				   		}
						return "";
			   		}
			   }
			   ,{field:'signTime', title: '签到时间', templet:
					function (row){
				   		if(row.signTime != null && row.signTime.length > 10){
				   			return row.signTime.substring(0, 10);
				   		}
				   		return row.signTime;
            		}
			   }
			   ,{field:'createTime',title:'创建时间', templet:
					function (row){
						return createTime(row.createTime);
            		}
			   }
			]]
		});
		
		//补签按钮监听
		$('#signBtn').on('click', function(){
			if($('#memberName').val() == null || $('#memberName').val() == ''){
				layer.msg("请输入会员账号");
				return ;
			}
			$.ajax({ 
				url: '/signRecord/getListByMonth', 
				data: {actId: $('#actId').val(), memberName: $('#memberName').val()},
				dataType: 'json',
				success: function(result){
		        	if(result.code == "000000"){
		        		//计算可补签日期
		        		if(result.data == null){
		        			result.data = [];
		        		}
		        		var allowSignDay = getAllowSignDay(result.data);
		        		//显示补签日期
		        		var content = showAllowSignDay(allowSignDay);
		        		layer.open({
							type: 1
					        ,title: false //不显示标题栏
					        ,closeBtn: false
					        ,area: '300px;'
					        ,shade: 0.8
					        ,offset: '200px'
					        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
					        ,btn: ['补签','关闭']
					        ,btnAlign: 'c'
					        ,moveType: 1 //拖拽模式，0或者1
					        ,content: content
					        ,success: function(layero){
					        	//补签日期选择监听
					    		$(".forDay").unbind();
					    		$('.forDay').on("click", function(){
					    			var id = $(this).attr("id").substring(7);
					    			if(!$("#day" + id).prop("checked")){
					    				$('#day' + id).prop("checked", true);
					    				$('#forDay_' + id).css("background-color", "#fcbf41");
					    				$('#forDay_' + id).css("color", "#fff");
					    			}else{
					    				$('#day' + id).prop("checked", false);
					    				$('#forDay_' + id).css("background-color", "#e9e9e9");
					    				$('#forDay_' + id).css("color", "#000");
					    			}
					    		});
					        }
					        ,yes: function(index, layeo){
					        	var result = supplementSign();
					        	if(!result){
					        		layer.close(index);
					        		reload();
					        	}
					        }
					        
						}); 
		        	}else{
		        		layer.msg(result.msg);
		        	}
				}
			});
		});
		
		//刷新
		function reload () {
            //执行重载
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		actId: $("#actId").val()
             	   ,memberName: $("input[name=memberName]").val()
                }
            });
     	}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
		var myDate = new Date();
		var year = myDate.getFullYear();    //获取完整的年份(4位,1970-????)
		var month = myDate.getMonth();       //获取当前月份(0-11,0代表1月)
		var day = myDate.getDate();
		var myDate=new Date();
		myDate.setFullYear(year, month, 1);
		var week = myDate.getDay();
		var daysCount = getCountDays();
		
		//计算补签日期
		function getAllowSignDay(signRecords){
			var j = 0;
			var allowSignDay = [];
			for(var i = 1;i < day;i++){
				if(j < signRecords.length){
					var date = new Date(Date.parse(createTime(signRecords[j].signTime).replace(/-/g,"/")));
					var day1 = date.getDate();
					if(i == day1){
						j++;
					}else{
						allowSignDay.push(i);
					}
				}else{
					allowSignDay.push(i);
				}
			}
			return allowSignDay;
		}
		
		//显示补签日期
	    function showAllowSignDay(allowSignDay){
	    	if(allowSignDay != null && allowSignDay.length > 0){
	    		var content = '<div class="signBox">';
	    		for(var i = 0;i < allowSignDay.length;i++){
	    			content += '<div class="dayBox">';
	    			content += '<input id="day' + allowSignDay[i] + '" class="day" type="checkbox" value="' + allowSignDay[i] + '" />';
        			content += '<span id="forDay_' + allowSignDay[i] + '" class="forDay">' + allowSignDay[i] + '</span>';
	    			content += '</div>';
	    		}
				content += "</div>";
				return content;
	    	}
	    }
		
		//补签
		function supplementSign(){
			var dates = '';
	    	$(".day").each(function(){
	    		if($(this).prop("checked")){
	    			if(dates == ''){
	    				dates += $(this).val();
	    			}else{
	    				dates += "," + $(this).val();
	    			}
	    		}
	    	});
	    	var flag = true;
	    	if(dates == ''){
	    		layer.msg("请选择补签日期");
	    		return flag;
	    	}
	    	
			$.ajax({ 
				url: '/signRecord/supplementSign', 
				data: {actId: $('#actId').val(), memberName: $('#memberName').val(), days: dates},
				dataType: 'json',
				async: false,
				success: function(result){
					layer.msg(result.msg);
					if(result.code == '000000'){
						flag = false;
					}else{
						flag = true;
					}
				}
			});
			
			return flag;
		}
		
		//获取当月天数
		function getCountDays() {
			var curDate = new Date();
	        /* 获取当前月份 */
	          var curMonth = curDate.getMonth();
	        /*  生成实际的月份: 由于curMonth会比实际月份小1, 故需加1 */
	        curDate.setMonth(curMonth + 1);
	        /* 将日期设置为0, 这里为什么要这样设置, 我不知道原因, 这是从网上学来的 */
	        curDate.setDate(0);
	        /* 返回当月的天数 */
	        return curDate.getDate();
		}
		  
	});

</script>
</body>
</html>        
        