<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/qrcode/qrcode.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   <style>
		/* 防止下拉框的下拉列表被隐藏---必须设置--- */
        .layui-table-cell {
            overflow: visible !important;
            min_height: 500px;
        }
        .layui-table {
        	
        }
        /* 设置下拉框的高度与表格单元相同 */
        .layui-input, .layui-select, .layui-textarea{
            height: 30px !important;
        }
   </style>
</head>
<body>
	<input type="hidden" name="id" id="id">
	<input type="hidden" name="actId" id="actId" th:value="${actId}">

<button type="button" class="layui-btn" onclick="window.history.go(-1);">
	<i class="layui-icon"></i>
</button>

<button class="layui-btn  layui-btn-normal" id="addRule" data-type="getInfo">
	<i class="layui-icon layui-icon-add-1"></i>新增
</button>

<button class="layui-btn layui-btn layui-btn-danger" id="deleteRule" data-type="getInfo">
	<i class="layui-icon layui-icon-ok"></i>删除
</button>

<!-- 签到规则 -->
<table class="layui-table" id="table" lay-filter="signRule"></table>

<!-- 添加奖品 -->
<div class="layui-tab" style="margin-top:30px;">
  <ul class="layui-tab-title">
    <li class="layui-this">奖品明细</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    	<button class="layui-btn  layui-btn-normal" id="addReward" data-type="getInfo">
			<i class="layui-icon layui-icon-add-1"></i>新增
		</button>
		
		<button class="layui-btn layui-btn layui-btn-danger" id="deleteReward" data-type="getInfo">
			<i class="layui-icon layui-icon-ok"></i>删除
		</button>
    	<table class="layui-table" id="rewardTable" lay-filter="rewardConf"></table>
    </div>
  </div>
</div>

<!-- 签到类型列表 -->
<script type="text/html" id="signTypeColumn">
	<div>
		<div  class="layui-inline">
		<select id="typeSelect_{{ d.LAY_TABLE_INDEX + 1 }}" lay-filter="typeSelect_{{ d.LAY_TABLE_INDEX + 1 }}">
			<option value="1,{{ d.LAY_TABLE_INDEX }}" {{ (d.signType == 1)?'selected' : '' }}>连续签到 </option>
			<option value="2,{{ d.LAY_TABLE_INDEX }}" {{ (d.signType == 2)?'selected' : '' }}>累计签到 </option>
			<option value="0,{{ d.LAY_TABLE_INDEX }}" {{ (d.signType == 0)?'selected' : '' }}>每天签到 </option>
		</select>
		</div>
	</div>
</script>
<!-- 签到抽奖活动列表 -->
<script type="text/html" id="activityColumn">
	<div>
		<div  class="layui-inline">
		<select id="actSelect_{{ d.LAY_TABLE_INDEX + 1 }}" lay-filter="actSelect_{{ d.LAY_TABLE_INDEX + 1 }}">
			<option value=",{{ d.LAY_TABLE_INDEX }}">请选择 </option>
			{{# if(activityList != null){ }}
				{{# for(var i = 0;i < activityList.length;i++){ }}
					<option value="{{activityList[i].id}},{{ d.LAY_TABLE_INDEX }}" {{ (d.deputyActId == activityList[i].id)?'selected' : '' }}>{{activityList[i].actName}}</option>
				{{# } }}
			{{# } }}
		</select>
		</div>
	</div>
</script>
<!-- 签到规则操作列 -->
<script type="text/html" id="opColumn">
	{{# if(d.id != null && d.id != "") { }}
	<button type="button" class="layui-btn layui-btn-xs uploadBtn" id="addRewards_{{d.LAY_TABLE_INDEX}}">
		奖品查看
	</button>
	{{# } }}
</script>

<script type="text/html" id="imgUpload">
	<div>
		<img src="{{d.rewardImg}}" style="width:20px;height:20px;" class="rewardImg_{{d.id}}" onmouseover="showImg('{{d.rewardImg}}', {{d.id}})" onmouseout="hiddenImg()">
		<!-- <i class="layui-icon layui-icon-picture rewardImg_{{d.id}}" onmouseover="showImg('{{d.rewardImg}}', {{d.id}})" onmouseout="hiddenImg()"></i> -->
		<button type="button" class="layui-btn layui-btn-xs uploadBtn" id="uploadBtn_{{d.id}}">
			<i class="layui-icon layui-icon-upload "  lay-event="uploadBtn" ></i>
			上传图片
		</button>
	</div>
</script>

<!-- 奖品配置 -->
<script type="text/html" id="editRewardCon">
	<form class="layui-form" action="" lay-filter="example">
	<div class="layui-form-item" style="margin-top:10px;height:120px;">
		<div class="layui-inline" style="float: left;">
   			<label class="layui-form-label">奖品类型</label>
		    <div class="layui-input-block">
		      <select id="rewardType" lay-filter="rewardType">
		        <option value="0" selected="">范围</option>
		        <option value="2">单个奖品</option>
		      </select>
		    </div>
	    </div>
	    
	    <div class="layui-inline">
		    <label class="layui-form-label">奖品</label>
		    <div class="layui-input-block" style="width:240px;">
				<input type="text" name="rewardCon" id="rewardCon" lay-verify="rewardCon" autocomplete="off" class="layui-input" style="display: none;">
		      
				<div id="range">
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" id="priceMin" lay-verify="priceMin" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid">-</div>
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" id="priceMax" lay-verify="priceMax" autocomplete="off" class="layui-input">
					</div>
		      </div>
		      
		      <div id="complex" style="display: none;">
					<div class="layui-inline">
					    <div class="layui-input-inline">
					      <input type="text" id="rewards" autocomplete="off" placeholder="逗号隔开，例：2,3,4,5" class="layui-input">
					    </div>
				    </div>
		      </div>
		      
		      <div id="singular" style="display: none;">
					<div class="layui-inline">
					    <div class="layui-input-inline">
					      <input type="text" id="reward" lay-verify="reward" autocomplete="off" placeholder="请输入奖品" class="layui-input">
					    </div>
				    </div>
		      </div>
		      
		    </div>
	    </div>
  	</div>
	</form>
</script>

<script th:inline="none">
	var activityList = [];
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery', 'form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		//获取奖品列表
		var rewardData = [];
		var rewardIds = "";
		var ruleId = "";
		var rewardCols = [
			{type:'checkbox', fixed: 'left'}
		     ,{field:'id', title: 'ID', width:80, sort: true}
		     ,{field:'rewardOption', title: '奖项（如：一等奖）', edit: 'text'}
		     ,{field:'rewardCon', title: '奖品', edit: 'text', event: 'setRewardCon'}
//			     ,{field:'unit', title: '单位', edit: 'text'}
		     ,{field:'ratio', title: '中奖概率(%)', edit: 'number'}
		     ,{field:'rewardNum',title:'奖品数量', edit: 'number'}
		     ,{field:'winNum',title:'中奖数'}
		     ,{field:'rewardImg',title:'奖品图片', templet: '#imgUpload'}
     	];
		
		//获取配套活动列表
		$.ajax({ 
			url: "/activity/getSecondaryList", 
			data: {actId: $("#actId").val()},
			dataType: 'json',
			async: false,
			success: function(result){
				if(result.code = '000000'){
					var obj = result.data;
					if(obj != null){
						activityList = obj;
					}
				}
			}
		});
		
		//获取签到规则列表
		var ruleData = [];
		$.ajax({ 
			url: "/signRule/getList", 
			data: {actId: $("#actId").val()},
			dataType: 'json',
			async: false,
			success: function(result){
				ruleData = result.data;
			}
		});
		
		//签到规则表格
		table.render({
			elem: '#table'
			,data: ruleData
			, where: {
			       	  actId: $("#actId").val()
			      }
			,limit: 100
			,height: 300
			,cols: [[ //表头
				{type:'checkbox', fixed: 'left'}
			   ,{field:'id', title: 'ID', width:80, sort: true}
			   ,{field:'signType', title: '统计签到天数类型', templet:'#signTypeColumn'}
			   ,{field:'statisticsTimes', title: '签到天数', edit: 'text'}
			   ,{field:'deputyActId',title:'抽奖活动', templet: '#activityColumn'}
			   ,{field:'lotteryTimes', title: '奖励抽奖次数', edit: 'text'}
			   ,{field:'rewardTimes', title: '翻倍数', edit: 'text'}
			   ,{field:'createTime',title:'创建时间', templet:
					function (row){
						return createTime(row.createTime);
     				}
			   }
			   ,{field:'op',title:'操作项', fixed: 'right', width:100, templet: '#opColumn'}
			]]
			,done: function(res, curr, count){
				var tableElem = this.elem.next(".layui-table-view");
				for(var i = 0;i < res.data.length;i++){
					//监听统计签到天数类型列表
					form.on('select(typeSelect_' + (i + 1) + ')', function(data){
						var value = data.value.split(",");
						res.data[value[1]].signType = value[0];
						saveOrEdit(res.data[value[1]]);
					});
					//监听抽奖活动列表
					form.on('select(actSelect_' + (i + 1) + ')', function(data){
						var value = data.value.split(",");
						res.data[value[1]].deputyActId = value[0];
						saveOrEdit(res.data[value[1]]);
					});
					//监听添加奖品按钮
					$('#addRewards_' + i).on('click', function(){
						var value = $(this).attr("id").split("_");
						rewardIds = ruleData[value[1]].rewardId;
						ruleId = ruleData[value[1]].id;
						$('tr').css('background-color', '#ffffff');
						$('tr').eq(0).css('background-color', '#f2f2f2');
						$(this).parents('tr').css('background-color', '#fb9181');
						if(rewardIds == null || rewardIds == ""){
							rewardData = [];
						}else{
							$.ajax({ 
								url: "/rewardConf/getRewardList", 
								data: {actId: $("#actId").val(), rewardIds: rewardIds},
								dataType: 'json',
								async: false,
								success: function(result){
									rewardData = result.data;
									
								}
							});
						}
						table.reload('rewardTable',{
						    data : rewardData
						});
					});
				}
			}
		});
		
		//奖品表格
		table.render({
			  elem: '#rewardTable'
			  ,data: rewardData
			  ,limit: 100
			  ,height: 300
			  ,cols: [rewardCols]
			  ,done: function(res, curr, count){
					//文件上传
					var tableElem = this.elem.next(".layui-table-view");
					for(var i = 0;i < res.data.length;i++){
						if(res.data[i].id != null && res.data[i].id != ""){
							upload.render({
								elem: '#uploadBtn_' + res.data[i].id
								,url: '/rewardConf/upload'
								,data: {id: res.data[i].id}
								,done: function(res, index, upload){ //上传后的回调
						        	if(res.code == "000000"){
						        		var obj = res.data;
						        		//查询该行数据
						        		for(var j = 0;j < rewardData.length;j++){
						        			if(rewardData[j].id == obj.id){
						        				var rData = rewardData[j];
						        				rData.rewardImg = obj.imgUrl;
						        				saveReward(rData);
						        			}
						        		}
						        	}else{
						        		layer.msg(res.msg);
						        	}
								} 
							});
						}
					}
			  }
		});
		
		//监听单元格编辑
		table.on('edit(signRule)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			saveOrEdit(data);
		});
		
		//监听删除按钮
		$('#deleteRule').on('click', function(){
			layer.confirm('确认要删除？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
					var checkStatus = table.checkStatus('table');
					var data = checkStatus.data;
					del(data);
				}, function () {
			});
			
		});
		
		//删除
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	
	        	if(i == 0){
	        		ids = data[i].id;
	        	}else{
	        		ids += "," + data[i].id;
	        	}
	        }
        	
        	$.ajax({ 
				url: "/signRule/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					if(result.code == "000000"){
						reload();
					}
					
					layer.msg(result.msg);
				}
			});
		}
		
		//新增按钮监听
		$('#addRule').on('click', function(){
			//判断是否有没保存的数据
			ruleData = table.cache.table;
			if(ruleData != null){
				for(var i = 0;i < ruleData.length;i++){
					if(ruleData[i].id == null || ruleData[i].id == ''){
						layer.msg("请先填写完毕");
						return false;
					}
				}
			}
			var addData={
					"id":"",
					"actId": $('#actId').val(),
					"statisticsTimes":"0",
					"lotteryTimes":0,
					"moneyRewardId":"",
					"rewardId":"",
					"signType":0,
					"deputyActId":"",
					"rewardTimes": "1",
					"createTime": new Date()
					};
			ruleData.push(addData);
			table.reload('table',{
				where: {
            		actId: $("#actId").val()
                },
			    data : ruleData
			});
		});
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
// 			alert(JSON.stringify(data));
			if(data.signType == 2 || data.signType == 1 ){
				if(data.statisticsTimes == null || data.statisticsTimes == ''){
					layer.msg("请填写签到天数");
					return ;
				}
				var re = /^[0-9]*$/;
				if(!re.test(data.statisticsTimes)){
					layer.msg("签到天数只能填写正整数");
					return ;
				}
			}
			if(data.deputyActId != null && data.deputyActId != ""){
				/* if(data.lotteryTimes == null || data.lotteryTimes == ''){
					layer.msg("请填写抽奖次数");
					return ;
				} */
				var re = /^[0-9]*$/;
				if(!re.test(data.lotteryTimes)){
					layer.msg("抽奖次数只能填写正整数");
					return ;
				}
			}/* else{
				if(data.lotteryTimes != null && data.lotteryTimes != ''){
					data.lotteryTimes = '';
					layer.msg("先选择抽奖活动");
					return ;
				}
			} */
			if(data.rewardTimes != null && data.rewardTimes != ""){
				var re = /^[0-9]*$/;
				if(!re.test(data.rewardTimes)){
					layer.msg("翻倍数只能填写正整数");
					return ;
				}
				if(data.rewardTimes < 1){
					layer.msg("翻倍数不能小于1");
					return ;
				}
			}else{
				layer.msg("请填写翻倍数");
				return ;
			}
			
			delete data.createTime;
			delete data.rewards;
			
			var url = "/signRule/save";
			if(data.id != null && data.id != ""){
				url = "/signRule/edit"
			}
			$.ajax({ 
				url: url, 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//刷新
		function reload () {
			$.ajax({ 
				url: "/signRule/getList", 
				data: {actId: $("#actId").val()},
				dataType: 'json',
				async: true,
				success: function(result){
					ruleData = result.data;
					table.reload('table', {
		                data: ruleData
		            });
				}
			});
     	}
		
		/************** 奖品 ***************/
		//监听单元格事件
		table.on('tool(rewardConf)', function(obj){
			var data = obj.data;
			if(obj.event === 'setRewardCon'){
				layer.open({
					type: 1
			        ,title: false //不显示标题栏
			        ,closeBtn: false
			        ,area: '400px;'
			        ,shade: 0.8
			        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			        ,btn: ['确定', '取消']
			        ,btnAlign: 'c'
			        ,moveType: 1 //拖拽模式，0或者1
			        ,content: $('#editRewardCon').html()
			        ,success: function(layero){
			        	form.render('select');
			        	//监听下拉框
						form.on('select(rewardType)', function(data){
							//清除数据
							$('#priceMin').val("");
							$('#priceMax').val("");
							$('#rewards').val("");
							$('#reward').val("");
							if(data.value == 0){
								//范围
								$('#range').css("display", "block");
								$('#complex').css("display", "none");
								$('#singular').css("display", "none");
							}else if(data.value == 1){
								//单个
								$('#range').css("display", "none");
								$('#complex').css("display", "block");
								$('#singular').css("display", "none");
							}else if(data.value == 2){
								//多个
								$('#range').css("display", "none");
								$('#complex').css("display", "none");
								$('#singular').css("display", "block");
							}
						});
			        	
			        }
			        ,yes: function(index, layeo){
			        	var value = '';
		        		if($('#rewardType').val() == 0){
		        			var r = /^[0-9]+$/;
		        			if(!r.test($('#priceMin').val())){
		        				layer.msg("范围必须是正整数");
		        				return ;
		        			}
		        			r = /^[0-9]+$/;
		        			if(!r.test($('#priceMax').val())){
		        				layer.msg("范围必须是正整数");
		        				return ;
		        			}
		        			value = $('#priceMin').val().trim() + "~" + $('#priceMax').val().trim();
						}else if($('#rewardType').val() == 1){
							value = $('#rewards').val().trim().replace(/，/g, ",");
						}else if($('#rewardType').val() == 2){
							if($('#reward').val() == null || $('#reward').val().trim() == ''){
								layer.msg("奖品不能为空");
								return ;
							}
							value = $('#reward').val().trim();
						}
		        		obj.update({
							rewardCon: value
						});
		        		
		        		data.rewardCon = value;
		        		saveReward(data);
		        		layer.close(index);
			        }
				}); 
			}
		});
		
		//监听单元格编辑
		table.on('edit(rewardConf)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			
			saveReward(data);
			
// 			layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
		});
		  
		//监听删除按钮
		$('#deleteReward').on('click', function(){
			layer.confirm('确认要删除？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
					var checkStatus = table.checkStatus('rewardTable');
					var data = checkStatus.data;
					delReward(data);
				}, function () {
			});
			
		});
		
		//删除
		function delReward(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(data[i].id != null && data[i].id != ""){
	        		if(i == 0){
		        		ids = data[i].id;
		        	}else{
		        		ids += "," + data[i].id;
		        	}
	        	}
	        }
        	
        	$.ajax({ 
				url: "/signRule/deleteReward", 
				data: {ids: ids, ruleId: ruleId},
				dataType: 'json',
				success: function(result){
					if(result.code == "000000"){
						rewardIds = result.data;
					}
					reloadReward();
					layer.msg(result.msg);
				}
			});
		}
		
		//新增或编辑
		function saveReward(data){
			//参数验证
			var patrn = /^\d+$/;
			var ratioReg = /^[0-9]+(.[0-9]{0,2})?$/;
			if(data.rewardOption == null || data.rewardOption.trim() == ""){
				return false;
			}else if(data.rewardCon == null || data.rewardCon.trim() == ""){
				return false;
			}else if(data.ratio == null || (data.ratio + '') == ''){
				return false;
			}else if(data.rewardNum == null || data.rewardNum == ""){
				data.rewardNum = 0;
			}else if(!ratioReg.test(data.ratio)){
				layer.msg("中奖概率必须是两位小数的正数");
				return false;
			}else if(data.ratio < 0 || data.ratio > 100){
				layer.msg("中奖概率在0~100之间");
				return false;
			}else if(!patrn.test(data.rewardNum)){
				layer.msg("奖品数量必须是正整数");
				return false;
			}else if(data.rewardNum > 2000000000){
				layer.msg("奖品数量不能大于2000000000");
				return false;
			}
			
			delete data.createTime;
			
			if(data.id != null && data.id != ""){
				var url = "/rewardConf/edit";
				$.ajax({ 
					url: url, 
					data: data,
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
			        	if(result.code == "000000"){
			        		reloadReward();
			        	}
					}
				});
			}else{
				var url = "/signRule/saveReward";
				data.ruleId = ruleId;
				$.ajax({ 
					url: url, 
					data: data,
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
			        	if(result.code == "000000"){
			        		if(rewardIds != null && rewardIds != ""){
			        			rewardIds += "," + result.data;
			        		}else{
			        			rewardIds = result.data;
			        		}
			        		reloadReward();
			        	}
					}
				});
			}
			
		}
		
		//刷新
		function reloadReward () {
			console.log("刷新");
			if(ruleData != null){
				for(var i = 0;i < ruleData.length;i++){
					if(ruleData[i].id == ruleId){
						ruleData[i].rewardId = rewardIds;
					}
				}
			}
			table.reload('table', {
                data: ruleData
            });
			$('tr').css('background-color', '#ffffff');
			$('tr').eq(0).css('background-color', '#f2f2f2');
			$('table').eq(2).find('tr').each(function(index){
				if($(this).find("td").eq(1).find("div").text().trim() == ruleId){
					$(this).css('background-color', '#fb9181');
				}
			});
			$.ajax({ 
				url: "/rewardConf/getRewardList", 
				data: {actId: $("#actId").val(), rewardIds: rewardIds},
				dataType: 'json',
				success: function(result){
					if(result.data == null){
						rewardData = [];
					}else{
						rewardData = result.data;
					}
					table.reload('rewardTable', {
		                data: rewardData
		            });
				}
			});
            
     	}
		
		//新增按钮监听
		$('#addReward').on('click', function(){
// 			var oldData =  table.cache["baseInfo"];
			if(ruleId == null || ruleId == ""){
				layer.msg("请先选择规则");
				return false;
			}
			//判断是否有没保存的数据
			if(rewardData != null){
				for(var i = 0;i < rewardData.length;i++){
					if(rewardData[i].id == null || rewardData[i].id == ''){
						layer.msg("请先填写完毕");
						return false;
					}
				}
			}
			
			
			var addData={
					"id":"",
					"actId": $('#actId').val(),
					"rewardOption":"",
					"rewardCon":"",
					"ratio":0,
					"rewardNum":0,
					"winNum":0,
					"rewardImg":""
					};
			
			rewardData.push(addData);
			table.reload('rewardTable',{
			    data : rewardData
			});
		});
		
		
// 		element.init();
	});
	
	var img_show;
	//图片预览
	function showImg(rewardImg, id){
		var img = "<img class='img_msg' src='"+ rewardImg +"' style='width:160px;' />";
        img_show = layer.tips(img, '.rewardImg_' + id,{
            tips:2
            ,area: ['200px']
        });
	}
	
	//隐藏图片
	function hiddenImg(){
		layer.close(img_show);
	}
	
</script>
</body>
</html>        
        