<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
  
   <script type="text/javascript" th:src="@{/qrcode/qrcode.js}"></script>
   <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   
   <style>
   		.qrcodeBox {
   			text-align:center;
   			line-height: 22px; 
   			background-color: #fff; 
   			color: #000; 
   			font-weight: 300;
   			
   		}
   		
   		.qrcode {
   			text-align:center;
   			padding: 10px; 
   			margin-left:70px;
   		}
   		
   		/* .layui-table-cell {
   			height: auto;
   			line-height: 28px;
   		} */
   </style>
</head>
<body>

<form class="layui-form">
<input type="hidden" name="actId" id="actId" th:value="${actId}">
<input type="hidden" name="actCategory" id="actCategory" th:value="${actCategory}">
<div class="layui-inline">
	<button type="button" class="layui-btn" 
		onclick="window.location.href='/activity/list?actId=' + document.getElementById('actCategory').value;">
		<i class="layui-icon"></i>
	</button>
</div>
<div class="layui-inline">
	<input class="layui-input" name="memberName" autocomplete="off" placeholder="请输入会员账号">
</div>

<div class="layui-inline">
	<select name="start">
		<option value="" selected>请选择状态 </option>
		<option value="0">未审核 </option>
		<option value="1">审核通过 </option>
		<option value="2">审核未通过 </option>
	</select>
</div>

<a class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</a>

<a class="layui-btn layui-btn-normal" id="passOpt" lay-event="passOpt">审核通过 </a>

<a class="layui-btn layui-btn-danger" id="failOpt" lay-event="failOpt">审核未通过 </a>

</form>

<table class="layui-table" id="table" lay-filter="apply"></table>

<!-- <div id='qrcode' class='qrcode'></div> -->


<script type="text/html" id="examineColumn">
{{# if(d.start == 0){ }}
	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="pass">审核通过 </a>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="fail">审核未通过 </a>
{{# } }}
</script>
            
<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery', 'form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		
		
		table.render({
		  elem: '#table'
		  ,url: '/supplementSignApply/getList' //数据接口
		  , where: {
           	  actId: $("#actId").val()
          }
		  ,page: true //开启分页
		  ,cols: [[ //表头
		  	  {type:'checkbox', fixed: 'left'}
		     ,{field:'id', title: 'ID', width:80, sort: true}
		     ,{field:'memberId', title: '申请会员', templet:
		    	function(row){
					return row.member.memberName;
		     	}	 
		     }
		     ,{field:'signTime', title: '申请补签日期', templet:
				function (row){
					return row.signTime.substring(0, 10);
				}
		     }
		     ,{field:'start', title: '状态', templet:
			    function(row){
		    	 	if(row.start == 1){
		    	 		return '<a class="layui-btn layui-btn-xs layui-btn-normal">审核通过 </a>';
		    	 	}else if(row.start == 2){
		    	 		return '<a class="layui-btn layui-btn-xs layui-btn-danger">审核未通过 </a>';
		    	 	}else {
		    	 		return '<a class="layui-btn layui-btn-xs layui-btn-primary">未审核 </a>';
		    	 	}
		     	}	 
		     }
		     ,{field:'examineTime', title: '审核时间', templet:
				function (row){
		    	 	if(row.examineTime != null && row.examineTime != ''){
		    	 		return createTime(row.examineTime);
		    	 	}
					return '';
				}
		     }
		     ,{field:'op',title:'', templet: '#examineColumn'}
		  ]]
		});
		
		//监听行工具事件
		table.on('tool(apply)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			var data = obj.data //获得当前行数据
			,layEvent = obj.event; //获得 lay-event 对应的值
			if(layEvent === 'pass'){
				//审核通过
				layer.confirm('您确定通过此条申请吗', function(index){
					$.ajax({ 
						url: "/supplementSignApply/examine", 
						data: {id: data.id, start: 1},
						dataType: 'json',
						success: function(result){
							layer.msg(result.msg);
				        	if(result.code == "000000"){
								reload();
				        	}
						}
					});
					layer.close(index);
				});
				
			}
			if(layEvent === 'fail'){
				//审核不通过
				layer.confirm('您确定不通过此条申请吗', function(index){
					$.ajax({ 
						url: "/supplementSignApply/examine", 
						data: {id: data.id, start: 2},
						dataType: 'json',
						success: function(result){
							layer.msg(result.msg);
				        	if(result.code == "000000"){
								reload();
				        	}
				        	
						}
					});
					layer.close(index);
				});
			}
		});
		
		//审核通过按钮监听
		$('#passOpt').on('click', function(){
			var checkStatus = table.checkStatus('table');
			var data = checkStatus.data;
			if(data == null || data.length <= 0){
				layer.msg("请选择要通过的申请");
				return false;
			}
			layer.confirm('确认审核通过吗？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
					examine(data, true);
				}, function () {
			});
		});
		
		//审核未通过按钮监听
		$('#failOpt').on('click', function(){
			var checkStatus = table.checkStatus('table');
			var data = checkStatus.data;
			if(data == null || data.length <= 0){
				layer.msg("请选择要未通过的申请");
				return false;
			}
			layer.confirm('确认审核未通过吗？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
					examine(data, false);
				}, function () {
			});
		});
		
		//审核
		function examine(data, isPass){
			var url = '/supplementSignApply/fail';
			if(isPass){
				url = '/supplementSignApply/pass';
			}
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(data[i].id != null && data[i].id != ""){
	        		if(data[i].start != 0){
	        			layer.msg("ID为" + data[i].id + "的补签申请已审核");
	        			return false;
	        		}
	        		if(i == 0){
		        		ids = data[i].id;
		        	}else{
		        		ids += "," + data[i].id;
		        	}
	        	}
	        }
	        $.ajax({ 
				url: url, 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
						reload();
		        	}
				}
			});
		}
		
		//刷新
		function reload () {
            //执行重载
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		actId: $("#actId").val()
             	   ,memberName: $("input[name=memberName]").val()
             	   ,start: $("select[name=start]").val()
                }
            });
     	}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload();
        });
		
	});
	
</script>
</body>
</html>        
        