<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</head>
<body>

<input type="hidden" name="actId" id="actId" th:value="${actId}">
<input type="hidden" name="actCategory" id="actCategory" th:value="${actCategory}">
<div style="margin-bottom: 10px;">
	
	<form class="layui-form" action="" lay-filter="example">
		<button type="button" class="layui-btn" 
			onclick="window.location.href='/activity/list?actId=' + document.getElementById('actCategory').value;">
			<i class="layui-icon"></i>
		</button>
		<div class="layui-inline">
			<div class="layui-input-inline">
				<select id="rewardBgImgList" lay-filter="rewardBgImgList">
					<option value="">请选择</option>
					<option value="5">5格转盘</option>
					<option value="6">6格转盘</option>
					<option value="7">7格转盘</option>
				</select>
				
			</div>
			<label lass="layui-form-label" style="color: red;margin-left:10px;">
				奖品数量少于转盘格子数奖自动填充谢谢参与
			</label>
		</div>
	</form>
</div>

<div  style="margin-bottom: 10px;">
	<img style="width:200px;height:200px;" id="bgImg" src="/image/noimg.jpg">
	
</div>

<div>
	<button class="layui-btn  layui-btn-normal" id="addReward" data-type="getInfo">
		<i class="layui-icon layui-icon-add-1"></i>
		新增
	</button>
	
	<button class="layui-btn layui-btn-danger" id="deleteReward" data-type="getInfo">
		<i class="layui-icon layui-icon-close"></i>
		删除
	</button>
</div>



<table class="layui-table" id="table" lay-filter="rewardConf"></table>

<script type="text/html" id="editRewardCon">
	<form class="layui-form" action="" lay-filter="example">
	<div class="layui-form-item" style="margin-top:10px;height:120px;">
		<div class="layui-inline" style="float: left;">
   			<label class="layui-form-label">奖品类型</label>
		    <div class="layui-input-block">
		      <select id="rewardType" lay-filter="rewardType">
		        <option value="0" selected="">范围</option>
		        <option value="2">单个奖品</option>
		      </select>
		    </div>
	    </div>
	    
	    <div class="layui-inline">
		    <label class="layui-form-label">奖品</label>
		    <div class="layui-input-block" style="width:240px;">
				<input type="text" name="rewardCon" id="rewardCon" lay-verify="rewardCon" autocomplete="off" class="layui-input" style="display: none;">
		      
				<div id="range">
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" id="priceMin" lay-verify="priceMin" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-form-mid">-</div>
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" id="priceMax" lay-verify="priceMax" autocomplete="off" class="layui-input">
					</div>
		      </div>
		      
		      <div id="singular" style="display: none;">
					<div class="layui-inline">
					    <div class="layui-input-inline">
					      <input type="text" id="reward" lay-verify="reward" autocomplete="off" placeholder="请输入奖品" class="layui-input">
					    </div>
				    </div>
		      </div>
		      
		    </div>
	    </div>
  	</div>
	</form>
</script>
<!-- <i class="layui-icon layui-icon-upload" lay-event="uploadBtn"></i> -->
<!-- 	<i class="layui-icon layui-icon-upload uploadBtn" id="uploadBtn_{{d.id}}" ></i> -->
<script type="text/html" id="imgUpload">
	<div>
		<img src="{{d.rewardImg}}" style="width:20px;height:20px;" class="rewardImg_{{d.id}}" onmouseover="showImg('{{d.rewardImg}}', {{d.id}})" onmouseout="hiddenImg()">
		<!-- <i class="layui-icon layui-icon-picture rewardImg_{{d.id}}" onmouseover="showImg('{{d.rewardImg}}', {{d.id}})" onmouseout="hiddenImg()"></i> -->
		<button type="button" class="layui-btn layui-btn-xs uploadBtn" id="uploadBtn_{{d.id}}">
			<i class="layui-icon layui-icon-upload "  lay-event="uploadBtn" ></i>
			上传图片
		</button>
	</div>
</script>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery','form'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery
		,form = layui.form; 
		
		//获取活动数据
		var activity;
		$.ajax({ 
			url: "/activity/getActivityById", 
			data: {id: $("#actId").val()},
			dataType: 'json',
			success: function(result){
				if(result.code == '000000'){
					activity = result.data;
					delete activity.version;
					if(result.data != null && result.data.backGroundImg != null && result.data.backGroundImg != ''){
						$('#bgImg').attr("src", result.data.backGroundImg);
					}
					var gridNum = result.data.backGroundImg == null ? "" : result.data.backGroundImg;
					if(gridNum != null && gridNum.indexOf("_") > -1){
						gridNum = gridNum.substring(gridNum.indexOf("_") + 1, gridNum.indexOf("."));
						$('#rewardBgImgList').val(gridNum);
						$('#rewardBgImgList option[value=""]').remove();
						form.render('select');
						$('#bgImg').attr("src", "/activityPage/turntable/image/turntable_" + gridNum + ".png");  
					}else{
						form.render('select');
					}
				}else{
					layer.msg("活动获取失败");
				}
			}
		});
		
		//背景图片下拉监听
		form.on('select(rewardBgImgList)', function(data){
			if(data.value == null || data.value == ""){
				layer.msg("请选择转盘");
				return false;
			}
			$('#rewardBgImgList  option[value=""]').remove();
			form.render('select');
			if(activity != null){
				activity.backGroundImg = "/activityPage/turntable/image/turntable_" + data.value + ".png"
				$.ajax({ 
					url: "/activity/edit", 
					data: activity,
					dataType: 'json',
					success: function(result){
						if(result.code == '000000'){
							$('#bgImg').attr("src", activity.backGroundImg);  
						}
						layer.msg(result.msg);
					}
				});
			}
			
			if(rewardData.length > data.value){
				layer.msg("奖品个数大于格数请删除多余的奖品");
			}
		});
		
		var rewardData = [];
		$.ajax({ 
			url: "/rewardConf/getList", 
			data: {actId: $("#actId").val()},
			dataType: 'json',
			success: function(result){
				rewardData = result.data;
// 				alert(JSON.stringify(result));
				table.render({
				  elem: '#table'
				  ,data: rewardData
				  ,limit: 100
				  , where: {
		           	  actId: $("#actId").val()
		          }
				  ,cols: [[ //表头
				  	  {type:'checkbox', fixed: 'left'}
				     ,{field:'id', title: 'ID', width:80, sort: true}
				     ,{field:'rewardOption', title: '奖项（如：一等奖）', edit: 'text'}
				     ,{field:'rewardCon', title: '奖品', edit: 'text', event: 'setRewardCon'}
				     ,{field:'ratio', title: '中奖概率(%)', edit: 'number'}
				     ,{field:'rewardNum',title:'奖品数量', edit: 'number'}
				     ,{field:'winNum',title:'中奖数'}
				     ,{field:'rewardImg',title:'奖品图片', templet: '#imgUpload'}
				  ]]
				  ,done: function(res, curr, count){
					//文件上传
// 					alert(res.data[0].id);
					var tableElem = this.elem.next(".layui-table-view");
					for(var i = 0;i < res.data.length;i++){
						if(res.data[i].id != null && res.data[i].id != ""){
							upload.render({
								elem: '#uploadBtn_' + res.data[i].id
								,url: '/rewardConf/upload'
								,data: {id: res.data[i].id}
								,done: function(res, index, upload){ //上传后的回调
									
						        	if(res.code == "000000"){
						        		var obj = res.data;
// 						        		alert(JSON.stringify(obj));
						        		
						        		//查询该行数据
						        		for(var j = 0;j < rewardData.length;j++){
						        			if(rewardData[j].id == obj.id){
						        				var rData = rewardData[j];
						        				rData.rewardImg = obj.imgUrl;
						        				saveOrEdit(rData);
						        			}
						        			
						        		}
						        		
						        	}else{
						        		layer.msg(res.msg);
						        	}
								} 
							});
						}
					}
					
				  }
				});
			}
		});
		
		//监听单元格事件
		table.on('tool(rewardConf)', function(obj){
			var data = obj.data;
			if(obj.event === 'setRewardCon'){
				layer.open({
					type: 1
			        ,title: false //不显示标题栏
			        ,closeBtn: false
			        ,area: '400px;'
			        ,shade: 0.8
			        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
			        ,btn: ['确定', '取消']
			        ,btnAlign: 'c'
			        ,moveType: 1 //拖拽模式，0或者1
			        ,content: $('#editRewardCon').html()
			        ,success: function(layero){
			        	form.render('select');
			        	//监听下拉框
						form.on('select(rewardType)', function(data){
							//清除数据
							$('#priceMin').val("");
							$('#priceMax').val("");
							$('#rewards').val("");
							$('#reward').val("");
							if(data.value == 0){
								//范围
								$('#range').css("display", "block");
								$('#complex').css("display", "none");
								$('#singular').css("display", "none");
							}else if(data.value == 1){
								//单个
								$('#range').css("display", "none");
								$('#complex').css("display", "block");
								$('#singular').css("display", "none");
							}else if(data.value == 2){
								//多个
								$('#range').css("display", "none");
								$('#complex').css("display", "none");
								$('#singular').css("display", "block");
							}
						});
			        	
			        	var btn = layero.find('.layui-layer-btn0');
			        	btn.on("click", function(){
			        		var value = '';
			        		if($('#rewardType').val() == 0){
			        			var r = /^[0-9]+$/;
			        			if(!r.test($('#priceMin').val())){
			        				layer.msg("范围必须是正整数");
			        				return ;
			        			}
			        			r = /^[0-9]+$/;
			        			if(!r.test($('#priceMax').val())){
			        				layer.msg("范围必须是正整数");
			        				return ;
			        			}
			        			value = $('#priceMin').val() + "~" + $('#priceMax').val();
							}else if($('#rewardType').val() == 1){
								value = $('#rewards').val().replace(/，/g, ",");
							}else if($('#rewardType').val() == 2){
								value = $('#reward').val();
							}
			        		obj.update({
								rewardCon: value
							});
			        		
			        		data.rewardCon = value;
			        		saveOrEdit(data);
			        		
			        	});
			        }
				}); 
			}
		});
		
		//监听单元格编辑
		table.on('edit(rewardConf)', function(obj){
			var value = obj.value //得到修改后的值
			,data = obj.data //得到所在行所有键值
			,field = obj.field; //得到字段
			
			
			saveOrEdit(data);
			
// 			layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
		});
		  
		//监听删除按钮
		$('#deleteReward').on('click', function(){
			layer.confirm('确认要删除？', {
				btn: ['确定', '取消'] //按钮
				}, function () {
					var checkStatus = table.checkStatus('table');
					var data = checkStatus.data;
					del(data);
				}, function () {
			});
			
		});
		
		//删除
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	if(data[i].id != null && data[i].id != ""){
	        		if(i == 0){
		        		ids = data[i].id;
		        	}else{
		        		ids += "," + data[i].id;
		        	}
	        	}
	        }
        	
        	$.ajax({ 
				url: "/rewardConf/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					if(result.code == "000000"){
						
					}
					reload();
					layer.msg(result.msg);
				}
			});
		}
		
		//新增或编辑
		function saveOrEdit(data){
			//参数验证
// 			alert(JSON.stringify(data));
			var patrn = /^\d+$/;
			var ratioReg = /^[0-9]+(.[0-9]{0,2})?$/;
			if(data.rewardOption == null || data.rewardOption.trim() == ""){
				return false;
			}else if(data.rewardCon == null || data.rewardCon.trim() == ""){
				return false;
			}else if(data.ratio == null || data.ratio == ""){
				return false;
			}else if(data.rewardNum == null || data.rewardNum == ""){
				data.rewardNum = 0;
			}else if(!ratioReg.test(data.ratio)){
				layer.msg("中奖概率必须是两位小数的正数");
				return false;
			}else if(data.ratio < 0 || data.ratio > 100){
				layer.msg("中奖概率在0~100之间");
				return false;
			}else if(!patrn.test(data.rewardNum)){
				layer.msg("奖品数量必须是正整数");
				return false;
			}
			
			delete data.createTime;
			var url = "/rewardConf/save";
			if(data.id != null && data.id != ""){
				url = "/rewardConf/edit"
			}
			$.ajax({ 
				url: url, 
				data: data,
				dataType: 'json',
				success: function(result){
					layer.msg(result.msg);
		        	if(result.code == "000000"){
		        		reload();
		        	}
				}
			});
		}
		
		//刷新
		function reload () {
			console.log("刷新");
			$.ajax({ 
				url: "/rewardConf/getList", 
				data: {actId: $("#actId").val()},
				dataType: 'json',
				success: function(result){
					rewardData = result.data;
// 					alert(JSON.stringify(rewardData));
					//执行重载
		            table.reload('table', {
		                data: rewardData
		            });
				}
				
			});
			
            
     	}
		
		//新增按钮监听
		$('#addReward').on('click', function(){
// 			var oldData =  table.cache["baseInfo"];
			if($('#rewardBgImgList').val() == null || $('#rewardBgImgList').val() == ""){
				layer.msg("请选择转盘");
				return ;
			}
			//判断是否有没保存的数据
			if(rewardData != null){
				for(var i = 0;i < rewardData.length;i++){
					if(rewardData[i].id == null || rewardData[i].id == ''){
						layer.msg("请先填写完毕");
						return false;
					}
				}
			}
			
			if(rewardData.length >= $('#rewardBgImgList').val()){
				layer.msg("奖品个数不能超过转盘格数");
				return;
			}
			
			var addData={
					"id":"",
					"actId": $('#actId').val(),
					"rewardOption":"",
					"rewardCon":"",
					"ratio":0,
					"rewardNum":0,
					"winNum":0,
					"rewardImg":""
					};
			rewardData.push(addData);
			table.reload('table',{
			    data : rewardData
			});
		});
		
		
// 		element.init();
	});
	
	var img_show;
	//图片预览
	function showImg(rewardImg, id){
		var img = "<img class='img_msg' src='"+ rewardImg +"' style='width:160px;' />";
        img_show = layer.tips(img, '.rewardImg_' + id,{
            tips:2
            ,area: ['200px']
        });
	}
	
	//背景图片预览
	function showBackGroundImg(){
		var bgImg = document.getElementById("bgImg").src;
		var img = "<img class='img_msg' src='"+ bgImg +"' style='width:160px;' />";
        img_show = layer.tips(img, '#bgImg',{
            tips:2
            ,area: ['200px']
        });
	}
	
	//隐藏图片
	function hiddenImg(){
		layer.close(img_show);
	}
	
</script>
</body>
</html>        
        