<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   <script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="addVer">添加版本</a> 
</script>

<script type="text/html" id="addActCate">
	<form class="layui-form" action="" lay-filter="example">
		<div style="margin-top:10px;padding-right:10px;height:200px;">
			<div class="layui-form-item" >
				<label class="layui-form-label">活动名称</label>
				<div class="layui-input-block">
				<input type="text" name="actName" id="actName" lay-verify="actName|required" autocomplete="off" placeholder="请输入活动名称" class="layui-input">
				</div>
			</div>
			
            <div class="layui-form-item" >
				<label class="layui-form-label">描述</label>
				<div class="layui-input-block">
				<input type="text" name="descr" id="descr" lay-verify="actName|required" autocomplete="off" placeholder="请输入活动名称" class="layui-input">
				</div>
			</div>
		</div>
	</form>
</script>
</head>
<body>

 <div class="layui-inline"> 
  <input class="layui-input"    name="actName" autocomplete="off" placeholder="请输入活动名称"> 
 </div>
  <button class="layui-btn" id="searchBtn" data-type="getInfo" >
     <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
  </button>
  
<table class="layui-table" id="table" lay-filter="test"></table>

<script type="text/html" id="activityShowColumn">
	<input type="checkbox" name="activityShow" value="{{d.id}}" lay-skin="switch" lay-text="显示|隐藏" lay-filter="activityShow" {{ d.activityShow == true ? 'checked' : '' }}>
</script>

<script type="text/html" id="imgUpload">
	<div>
		<img src="{{d.activityImg == null ? "" : d.activityImg}}" style="width:20px;height:20px;" class="rewardImg_{{d.id}}" onmouseover="showImg('{{d.activityImg}}', {{d.id}})" onmouseout="hiddenImg()">
		<!-- <i class="layui-icon layui-icon-picture rewardImg_{{d.id}}" onmouseover="showImg('{{d.activityImg}}', {{d.id}})" onmouseout="hiddenImg()"></i> -->
		<button type="button" class="layui-btn layui-btn-xs uploadBtn" id="uploadBtn_{{d.id}}">
			<i class="layui-icon layui-icon-upload "  lay-event="uploadBtn" ></i>
			上传图片
		</button>
	</div>
</script>

<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'upload'], function(){
		  var laydate = layui.laydate //日期
		  ,laypage = layui.laypage //分页
		  ,layer = layui.layer //弹层
		  ,table = layui.table //表格
		  ,element = layui.element //元素操作
		  ,slider = layui.slider //滑块
		  ,$ = layui.jquery
		  ,upload = layui.upload; 
		  
		  table.render({
		    elem: '#table'
		    ,url: '/actCategory/grid' //数据接口
		    ,page: true //开启分页
		    ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		    ,cols: [[ //表头
		    	  {type: 'checkbox', fixed: 'left'}
			      ,{field:'id', title: 'ID',sort: true, fixed: 'left'}
			      ,{field:'actName',title: '版本名称'}
			      ,{field:'descr', title:'描述'}
			      ,{field:'createTime', title:'创建时间',
			    	  templet :function (row){
	                        return createTime(row.createTime);
	                        }  
			      }
			      ,{field:'activityShow', title: '是否在活动演示页展示', templet:'#activityShowColumn', event: 'activityShow'}
			      ,{field:'activityImg', title: '活动图片', templet:'#imgUpload'}
			      ,{fixed: 'right', title: '操作项',align:'center', toolbar: '#barDemo'}
		    ]]
		  	,done: function(res, curr, count){
				//文件上传
				var tableElem = this.elem.next(".layui-table-view");
				for(var i = 0;i < res.data.length;i++){
					if(res.data[i].id != null && res.data[i].id != ""){
						upload.render({
							elem: '#uploadBtn_' + res.data[i].id
							,url: '/actCategory/upload'
							,data: {id: res.data[i].id}
							,done: function(res, index, upload){ //上传后的回调
					        	if(res.code == "000000"){
					        		reload(1);
					        	}else{
					        		layer.msg(res.msg);
					        	}
							} 
						});
					}
				}
		  	}
		  });
		  
		  /**
		   * 搜索框重新加载 
		   */
         function reload (curr) {
               //执行重载
               table.reload('table', {
                   page: {
                       curr: curr //重新从第 1 页开始
                   }
                   , where: {
                	   userName: $("input[name=actName]").val()
                   }
               });
        }
		  
        $('#searchBtn').on('click', function () {
        	reload(1)
        });
        
        //监听头工具栏事件
        table.on('toolbar(test)', function(obj){
          var checkStatus = table.checkStatus(obj.config.id)
          ,data = checkStatus.data; //获取选中的数据
          
          switch(obj.event){
            case 'add':
            	handleCate();
            break;
            case 'update':
              if(data.length === 0){
                layer.msg('请选择一行');
              } else if(data.length > 1){
                layer.msg('只能同时编辑一个');
              } else {
            	  handleCate(data[0]);
              }
              
            break;
            case 'delete':
              if(data.length === 0){
                 layer.msg('请选择一行');
              } else {
            	layer.confirm('确认要删除？', {
            	 btn: ['确定', '取消'] //按钮
            	}, function () {
                  del(data);
            	}, function () {
            	});
              }
            break;
          };
        });
        
        
       function handleCate(data) {
    	   
    	   layer.open({
				type: 1
		        ,title: false //不显示标题栏
		        ,closeBtn: false
		        ,area: '300px;'
		        ,shade: 0.8
		        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
		        ,btn: ['确定', '取消']
		        ,btnAlign: 'c'
		        ,moveType: 1 //拖拽模式，0或者1
		        ,content: $('#addActCate').html()
		        ,success: function(layero){
		        	var btn = layero.find('.layui-layer-btn0');
		        	var url = "/actCategory/addAct";
		        	var id = "";
		            if(data!=null){
		            	$('#actName').val(data.actName)
		            	$('#descr').val(data.descr)
		            	url = "/actCategory/updateAct";
		            	id = data.id
		            }
		        	
		        	//提交按钮监听
		        	btn.on("click", function(){
		        		var actName = $('#actName').val();
		        		var descr = $('#descr').val();
		        	    //保存会员
		        		$.ajax({ 
		    				url: url, 
		    				data: {id:id,actName: actName, descr: descr},
		    				dataType: 'json',
		    				success: function(result){
		    					if(result.code == "000000"){
		    						reload(1);
		    					}
		    					
		    					layer.msg(result.msg);
		    					
		    				}
		    			});
		        	});
		        }
			}); 
       }
        
        /**
                           *监听事件操作项
         */
        table.on('tool(test)', function(obj){ 
        	var layEvent = obj.event;
        	var data = obj.data;
        	//解锁
        	if(layEvent == 'addVer'){
        		addVer(data);
        	}else if(layEvent === 'activityShow'){
				//是否启用
				if(data.activityShow){
					data.activityShow = false;
				}else{
					data.activityShow = true;
				}
				editActvityShow(data);
			}
        	
        });
        
      
        
       /**
                        * 删除
        */
       function del(data){
    	 var ids = "";
    	 for(var i = 0 ;i<data.length;i++){
    	 	ids = ids + data[i].id + ',';
    	 }
    	 $.ajax({
    		   url:'/actCategory/del'
              ,data:{ids:ids}
              ,beforeSend:function () {
                  this.layerIndex = layer.load(0, {shade: [0.5, '#393D49']});
              }
              ,success:function(data){
            	  if(data.code == "000000"){
            		  reload(1);
            	  }
            	  layer.msg(data.msg);
            	  layer.close(this.layerIndex);
              }
              ,complete: function (){
            	  layer.close(this.layerIndex);
              }
    	 })
      } 
       
       function addVer(data){
    	   window.location.href='/actCategory/ver/list?actId='+data.id;
       } 
      
       function update(data){
    	   window.location.href='/user/redirect?userId='+data.id;
       }
       
       function editActvityShow(data){
    	   $.ajax({
    		   url:'/actCategory/editActvityShow'
              ,data:{id: data.id, activityShow: data.activityShow}
              ,success:function(data){
            	  if(data.code == "000000"){
            		  reload(1);
            	  }
            	  layer.msg(data.msg);
              }
    	   });
       }
	});
	
	var img_show;
	//图片预览
	function showImg(rewardImg, id){
		if(rewardImg == null || rewardImg == 'null'){
			rewardImg = "";
		}
		var img = "<img class='img_msg' src='"+ rewardImg +"' style='width:160px;' />";
        img_show = layer.tips(img, '.rewardImg_' + id,{
            tips:2
            ,area: ['200px']
        });
	}
	
	//隐藏图片
	function hiddenImg(){
		layer.close(img_show);
	}
</script>
</body>
</html>        
        