<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
   <script type="text/javascript" th:src="@{/qrcode/qrcode.js}"></script>
   <script type="text/javascript" th:src="@{/js/dateFormat.js}"></script>
   
</head>
<body>

<div class="layui-inline">
	<input class="layui-input" name="memberName" autocomplete="off" placeholder="请输入会员账号">
</div>
<button class="layui-btn" id="searchBtn" data-type="getInfo">
	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
</button>

<button type="button" class="layui-btn layui-btn-normal" id="impMember" lay-filter="impMember">
	<i class="layui-icon layui-icon-upload " ></i>
	批量导入
</button>

<button type="button" class="layui-btn layui-btn-primary" id="downMould" lay-filter="downMould">
	<i class="layui-icon layui-icon-download-circle" ></i>
	模板下载
</button>

<table class="layui-table" id="table" lay-filter="member"></table>
            
<script th:inline="none">
	layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider', 'jquery'], function(){
		var laydate = layui.laydate //日期
		,laypage = layui.laypage //分页
		,layer = layui.layer //弹层
		,table = layui.table //表格
		,upload = layui.upload //上传
		,element = layui.element //元素操作
		,slider = layui.slider //滑块
		,$ = layui.jquery; 
		
		table.render({
		  elem: '#table'
		  ,url: '/member/getList' //数据接口
		  , where: {
           	  actId: $("#actId").val()
          }
		  ,page: true //开启分页
		  ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
		  ,cols: [[ //表头
		  	  {type:'checkbox', fixed: 'left'}
		     ,{field:'id', title: 'ID', width:80, sort: true}
		     ,{field:'memberName', title: '会员账号'}
		     ,{field:'realName', title: '姓名'}
		     ,{field:'cel',title:'电话'}
		     ,{field:'registIp',title:'注册IP'}
		     ,{field:'invitationCode',title:'邀请码'}
		     ,{field:'type',title:'类型', templet:
				function (row){
		    	 	if(row.type == 0){
		    	 		return "会员";
		    	 	}else if(row.type == 1){
		    	 		return "游客";
		    	 	}else{
		    	 		return "";
		    	 	}
				}
		     }
		     ,{field:'registTime',title:'注册时间', templet:
				function (row){
					return createTime(row.registTime);
   				}
		     }
		  ]]
		});

		//监听头工具栏事件
		table.on('toolbar(member)', function(obj){
		  var checkStatus = table.checkStatus(obj.config.id)
		  ,data = checkStatus.data; //获取选中的数据
		  switch(obj.event){
		    case 'add':
		      window.location.href = "/member/toSaveOrEdit";
		    break;
		    case 'update':
		      if(data.length === 0){
		        layer.msg('请选择一行');
		      } else if(data.length > 1){
		        layer.msg('只能同时编辑一个');
		      } else {
		    	window.location.href = "/member/toSaveOrEdit?id=" 
		    			+ checkStatus.data[0].id;
		      }
		    break;
		    case 'delete':
		      if(data.length === 0){
		        layer.msg('请选择一行');
		      } else {

				layer.confirm('确认要删除？', {
					btn: ['确定', '取消'] //按钮
					}, function () {
					     del(data);
					}, function () {
				});
		      }
		    break;
		  };
		});
		
		//文件上传
		upload.render({
			elem: '#impMember'
			,url: '/member/impExcel'
			,data: {}
			,done: function(res, index, upload){ //上传后的回调
				layer.msg(res.msg);
	        	if(res.code == "000000"){
	        		reload();
	        	}
			} 
			,accept: 'file' //允许上传的文件类型
			,exts: 'xls|xlsx' //允许上传的文件后缀
			//,size: 50 //最大允许上传的文件大小
			//,……
		});
		
		//删除
		function del(data){
			var ids = "";
	        for(var i = 0;i < data.length;i++){
	        	
	        	if(i == 0){
	        		ids = data[i].id;
	        	}else{
	        		ids += "," + data[i].id;
	        	}
	        }
        	
        	$.ajax({ 
				url: "/member/delete", 
				data: {ids: ids},
				dataType: 'json',
				success: function(result){
					if(result.code == "000000"){
						reload();
					}
					
					layer.msg(result.msg);
				}
			});
		}
		
		//刷新
		function reload () {
            //执行重载
            table.reload('table', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            	, where: {
            		memberName: $("input[name=memberName]").val()
                }
            });
     	}
		
		//查询按钮监听
		$('#searchBtn').on('click', function () {
        	reload()
        });
		
		//模板下载按钮监听
		$('#downMould').on('click', function(){
			window.location.href = "/mould/member.xlsx";
		});
		  
	});
</script>
</body>
</html>        
        