/* body */
.bodyClass {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
    font-size: 16px;
}
@media screen and (min-width:768px){
    .bodyClass{
        width: 414px;
        position: absolute;
        left: 35%;
    }
}
@media screen and (max-width:360px){
    .bodyClass{
        font-size: 14px;
    }
}

/* 遮罩 */
#shade {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:0;
	display: none;
	overflow: hidden;
	background-color: #000000;
	opacity: 0.8;
	z-index: 9;
}

/* 背景 */
.bg {
	width: 100%;
    overflow: hidden;
}

.fill {
	width: 100%;
}

/* 菜单按钮 */
.menuBtn {
	position: absolute;
	left: 0;
	top: 10%;
	width: 2em;
	height: 2.5em;
	background-color: #000000;
	opacity: 0.7;
	border-radius: 0 5px 5px 0;
	text-align: center;
	cursor:pointer;
	z-index: 8;
}
.menuBtn img{
	width: 60%;
	margin-top: 10px;
	margin-left: 5px;
}
/* 菜单 */
.menu {
	position: absolute;
	left: 0;
	top: 10%;
	max-width: 50%;
/* 	width: 7em; */
/* 	height: 9em; */
	background-color: rgba(0,0,0,0.7);
	border-radius: 0 5px 5px 0;
	text-align: centen;
	display: none;
	z-index: 8;
}
.menu .row {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	margin-right: 1.5em;
}
.menu .row img {
	width: 16px;
}
.menu .row a {
	color: #fbfbfb;
	margin-left: 10px;
	font-size: 0.8em;
}

/* 后退 */
.backBtn {
	position: absolute;
	left: 0;
	top: 3%;
/* 	width: 3em; */
	height: 2em;
	border-radius: 0 1em 1em 0;
	background-color: #000;
	opacity: 0.7;
/* 	display: flex; */
    justify-content: center;
    align-items: Center;
    display: none;
    cursor:pointer;
    z-index: 8;
}
.backBtn img {
	height: 50%;
}
.backBtn span {
	color: #fefefe;
	font-size: 0.8em;
	margin-right: 1em;
}

/* 分享按钮 */
.shareBtn {
	position: absolute;
	right: 0;
	top: 10%;
/* 	width: 3em; */
	height: 2em;
	border-radius: 1em 0 0 1em;
	background-color: #000;
	opacity: 0.7;
	display: flex;
    justify-content: center;
    align-items: Center;
    cursor:pointer;
    z-index: 8;
}
.shareBtn span {
	color: #fefefe;
	font-size: 0.8em;
	margin: 0 1em;
}

/* 分享弹窗 */
.shareBox {
	position: absolute;
	top: 30%;
    left: 10%;
	width: 80%;
	z-index: 10;
	display: none;
}
.share{
    width: 100%;
	background-color: #fff;
	border-radius: 10px;
    text-align: center;
    margin-bottom: 4em;
}
.share .content {
	width: 90%;
	min-height: 3em;
	margin-left: 10%;
	padding: 1em 0;
	text-align: left;
	/* max-height: 10em;
	overflow-y: auto; */
}
.share .content .shareAddr {
	display: inline-block;
	margin-bottom: 1em;
	text-align: center;
}
.share .content .shareAddr img{
	width: 32px;
	height: 32px;
}
.share .content .shareAddr div{
	font-size: 0.8em;
	color: #000;
	margin-top: 5px;
}

/* 判断pc端改变滚动条样式  */
@media screen and (min-width: 992px) {
	/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
	::-webkit-scrollbar
	{
	    width: 4px;
	    height: 16px;
	    background-color: #F5F5F5;
	}
	 
	/*定义滚动条轨道 内阴影+圆角*/
	::-webkit-scrollbar-track
	{
	    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	    border-radius: 2px;
	    background-color: #c3c3c3;
	}
	 
	/*定义滑块 内阴影+圆角*/
	::-webkit-scrollbar-thumb
	{
	    border-radius: 2px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    background-color: #777;
	}
}