<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>签到</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/activityPage/base/css/base.css}" />
    <link rel="stylesheet" th:href="@{/activityPage/sign/css/sign.css}" />
</head>
<body class ="bodyClass">
	<input type="hidden" id="actId" th:value="${activity.id}">
	<input type="hidden" id="memberId" th:value="${memberId}">
	<input type="hidden" id="endTime" th:value="${activity.endTime}">
	<input type="hidden" id="beginTime" th:value="${activity.beginTime}">
	<input type="hidden" id="isUsed" th:value="${activity.isUsed}">
	<input type="hidden" id="deputyActId" >
	<input type="hidden" id="mainActId" th:value="${mainActId}">
	<input type="hidden" id="inviter" th:value="${inviter}">
	
	<!-- 遮罩 -->
	<div id="shade"></div>
	
	<div class="bg">
		<div class="fill">
			<!-- 菜单按钮 -->
			<div class="menuBtn">
				<img src="/activityPage/goldenEgg/image/more.png" />
			</div>
			
			<!-- 菜单 -->
			<div class="menu"></div>
			
			<!-- 后退 -->
			<div class="backBtn">
				<img src="/activityPage/sign/image/back.png" />
				<span>返回</span>
			</div>
		
			<!-- 活动规则按钮 -->
			<div class="ruleBtn">
				<img src="/activityPage/sign/image/rule_btn.png">
			</div>
			
			<!-- 补签按钮 -->
			<div class="supplementSignBtn">
				<img src="/activityPage/sign/image/supplement_sign_btn.png">
			</div>
			
			<!-- 签到按钮 -->
			<div class="signBtn">
				<img src="/activityPage/sign/image/sign_btn.png" id="signBtn">
			</div>
			
			<!-- 抽奖按钮 -->
			<div class="activityBtn" id="toActivity">
				<div class="centent">剩余<span id="lotteryTimes">0</span>次</div>
			</div>
			
		</div>
	    
	    <!-- 签到 -->
	    <div class="sign">
	    	<div class="box">
	    		<div class="title">
	    			<span class="month">5</span>月连续签到<span id="seriesDay">20</span>天
	    		</div>
	    		<table id="calendar" class="calendar">
	    			<thead>
	    				<tr>
	    					<th>日</th>
	    					<th>一</th>
	    					<th>二</th>
	    					<th>三</th>
	    					<th>四</th>
	    					<th>五</th>
	    					<th>六</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				
	    			</tbody>
	    		</table>
	    	</div>
	    </div>
	    
	    <!-- 样式 -->
	    <div class="icon" >
	    	<div>
	    		<img src="/activityPage/sign/image/sign_icon1.png">
	    	</div>
	    	<div>
	    		<img src="/activityPage/sign/image/sign_icon1.png">
	    	</div>
	    </div>
	    
	    <!-- 签到次数 -->
	    <div class="signTimes">
	    	<div class="content1">
	    		<div class="text" >
	    			累计签到<span class="times" id="countSign">0</span>天
	    		</div>
	    		<div class="btn">
	    			<img  id="myReward" src="/activityPage/sign/image/record_btn.png">
	    		</div>
	    	</div>
	    	<div class="content2">
	    		<div class="text" >
	    			可补签<span class="times" id="allowSign">0</span>天
	    		</div>
	    		<div class="btn" >
	    			<img class="checkReward" src="/activityPage/sign/image/reward_btn.png">
	    		</div>
	    	</div>
	    	<div style="clear:both"></div>
	    </div>
		
		<!-- 中奖弹窗 -->
		<div class="gitReward">
			<img class="rewardBg" src="/activityPage/sign/image/reward_bg.png">
			<div class="rewardCon">
				<div class="text" id="rewardTitle">恭喜获得</div>
				<div class="content" id="reward">
					<!-- <div class="joinTimes">
						<img src="/activityPage/sign/image/gift3.png">
						<div>获得一次抽奖</div>
					</div>
					<div class="reward">
						<div class="rewardTimes" id="rewardTimes">X2</div>
						<img src="/activityPage/sign/image/gift1.png">
						<div class="rewardName" id="rewardName">奖品名称</div>
					</div> -->
				</div>
			</div>
			<div class="closeBtn">我知道了</div>
		</div>
		
		<!-- 登录弹窗 -->
		<div class="login">
			<div class="loginBg">
				登录账号
			</div>
			<div class="nameBox">
				<img src="/activityPage/redEnvelope/image/member.png">
				<input type="text" id="memberName" placeholder="请输入会员号/手机号">
			</div>
			<div class="loginBtn" id="signLogin">
				<div>立即登录</div>
			</div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
		
		<!-- 规则弹窗 -->
		<div class="ruleBox" >
			<div class="ruleBg">
				活动规则
			</div>
			<div class="centent" id="rule" th:utext="${activity.actRule}"></div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
		
		<!-- 中奖纪录弹窗 -->
		<div class="recordBox"  >
			<div class="recordBg">
				中奖纪录
			</div>
			<div class="centent" id="record">
				<!-- <div class="row">
					<div class="time">2019-02-04 12:45</div>
					<div class="reward">aaaaaaaaaaaaa</div>
				</div> -->
			</div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
		
		<!-- 查看奖品弹窗 -->
		<div class="rewardBox">
			<div class="rewardBg">
				本月连续签到4天
			</div>
			<div class="centent" id="signRule">
				<div class="layui-collapse collapse" lay-filter="rewardList">
					<!-- <div class="layui-colla-item">
						<h2 class="layui-colla-title colla-title">每日签到</h2>
						<div class="layui-colla-content colla-content">
							<div class="rewardInfo">
								<img class="rewardImg" src="/activityPage/sign/image/gift2.png">
								<span class="text">抽奖机会</span>
							</div>
							<div class="rewardInfo">
								<img class="rewardImg" src="/activityPage/sign/image/gift4.png">
								<span class="text">奖品名称</span>
							</div>
							<div class="rewardInfo">
								<img class="rewardImg" src="/activityPage/sign/image/gift4.png">
								<span class="text">连续7天</span>
							</div>
							<div class="rewardInfo">
								<img class="rewardImg" src="/activityPage/sign/image/gift4.png">
								<span class="text">连续7天</span>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
		
		<!-- 补签弹窗 -->
		<div class="supplementSignBox">
			<div class="supplementSign">
				<img class="supplementSignBg" src="/activityPage/sign/image/supplement_sign_bg1.png">
				<div class="content" id="allowSignDay">
					<!-- <div class="dayBox">
						<input id="day" class="day" type="checkbox" name="day" value="#f0544d" />
						<label for="day">1</label>
					</div> -->
				</div>
				<div class="btnBox">
					<div class="supplementBtn" id="supplementBtn">
						立即补签
					</div>
				</div>
				
			</div>
			<div class="close">
					<img src="/activityPage/goldenEgg/image/close.png">
				</div>
		</div>
	</div>
	
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/layui/lay/modules/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/base/js/base.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/sign/js/sign.js}"></script>
</body>
</html>