<!-- 头部模块模块 -->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <title>拼图科技</title>
</head>
<body>
<div  class="layui-header" th:fragment="header" >
<!--     <div class="layui-logo">拼图科技</div> -->
	<ul class="layui-nav layui-layout-left">
		<li class="layui-nav-item layadmin-flexible" lay-unselect="">
		  <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
		    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
		  </a>
		</li>
		<li class="layui-nav-item" lay-unselect="">
		  <a href="javascript:;" layadmin-event="refresh" title="刷新">
		    <i class="layui-icon layui-icon-refresh-3"></i>
		  </a>
		</li>
	</ul>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
        <i class='layui-icon layui-icon-username'></i>
          <span sec:authentication="name"></span>
        </a>
        <dl class="layui-nav-child">
          <dd><a id="changePwd">修改密码</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
         <a href="/logout">  <i class='layui-icon layui-icon-tips'></i>   退出</a>
      </li>
    </ul>
    
<!-- <script type="text/javascript" th:src="@{/layui/layui.js}"></script> -->
<script type="text/html" id="changePwdForm">
	<form class="layui-form" action="" lay-filter="example">
		<div style="margin-top:10px;padding-right:10px;">
			<div class="layui-form-item" >
				<label class="layui-form-label">旧密码</label>
				<div class="layui-input-block">
					<input type="password" name="oldPwd" id="oldPwd" lay-verify="oldPwd|required" autocomplete="off" placeholder="请输入旧密码" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" >
				<label class="layui-form-label">新密码</label>
				<div class="layui-input-block">
					<input type="password" name="newPwd" id="newPwd" lay-verify="newPwd|required" autocomplete="off" placeholder="请输入新密码" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item" >
				<label class="layui-form-label">确认密码</label>
				<div class="layui-input-block">
					<input type="password" name="confirmPwd" id="confirmPwd" lay-verify="confirmPwd|required" autocomplete="off" placeholder="请输入确认密码" class="layui-input">
				</div>
			</div>
		</div>
	</form>
</script>

<script th:inline="none">
layui.use(['layer','jquery'], function(){
	var layer = layui.layer
	,$ = layui.jquery;
	
	$('#changePwd').on('click', function(){
		layer.open({
			type: 1
	        ,title: false //不显示标题栏
	        ,closeBtn: false
	        ,area: '300px;'
	        ,shade: 0.8
	        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
	        ,btn: ['提交','关闭']
	        ,btnAlign: 'c'
	        ,moveType: 1 //拖拽模式，0或者1
	        ,content: $('#changePwdForm').html()
	        ,success: function(layero){
				
	        }
	        ,yes: function(index, layeo){
	        	//提交按钮
	        	var oldPwd = $('#oldPwd').val();
	        	var newPwd = $('#newPwd').val();
	        	var confirmPwd = $('#confirmPwd').val();
	        	if(oldPwd == null || oldPwd == ''){
	        		layer.msg("请输入旧密码");
	        		return ;
	        	}else if(newPwd == null || newPwd == ''){
	        		layer.msg("请输入新密码");
	        		return ;
	        	}else if(confirmPwd == null || confirmPwd == ''){
	        		layer.msg("请输入确认密码");
	        		return ;
	        	}else if(confirmPwd != newPwd){
	        		layer.msg("两次密码不正确，请重新输入");
	        		return ;
	        	}
	        	
	        	$.ajax({ 
					url: "/user/changePassword", 
					data: {oldPassword: oldPwd, newPassword: newPwd, confirmPassword: confirmPwd},
					dataType: 'json',
					success: function(result){
						layer.msg(result.msg);
						if(result.code == '000000'){
							//退出
							if(result.data != null){
								window.location.href = "/removeUserSessionByUsername?username=" 
														+ result.data;
							}
						}
					}
	        	});
	        }
		});
	});
});
</script>
    
</div>
</body>
 </html>