<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>拼图科技</title>
   <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
   <link rel="stylesheet" th:href="@{/layui/css/admin.css}">
   <link rel="stylesheet" th:href="@{/layui/css/modules/layer/default/layer.css}" media="all">
   <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</head>
<body class="layui-layout-body" layadmin-themealias="green-header">
	<div id="LAY_app">
		<div class="layui-layout layui-layout-admin">
		  <!-- 头部模块 -->
		  <div th:replace="header::header"></div>
		  <!-- 菜单模块 -->
		  <div th:replace="menubar::menubar"></div>
		  <!-- 标签模块 -->
		  <div th:replace="pagetabs::pagetabs"></div>
		  <!-- 主区域模块 -->
		  <div th:replace="domain::domain"></div>
		  <!-- 底部模块 -->
		  <div th:replace="footer::footer"></div>
		  <!-- 辅助元素，一般用于移动设备下遮罩 -->
<!-- 		  <div class="layadmin-body-shade" layadmin-event="shade"></div> -->
		</div>
	</div>
	<style>
		.layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child {
			background-color: #28333E !important;
		}
		
		.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a {
			background-color: #009688 !important;
		}
		
		.layui-layout-admin .layui-logo {
			background-color: #009688 !important;
		}
		
		.layadmin-pagetabs .layui-tab-title li:after {
			display: none;
		}
		.layui-body {
			background-color: #fff;
		}
		#LAY_app_body .layadmin-tabsbody-item {
			margin: 10px;
		}
		.layui-footer {
			z-index: 1000;
		}
	</style>
	
	
	<script type="text/javascript" th:src="@{/layui/lay/modules/layer.js}"></script>
	<script type="text/javascript">
	    <!--加载菜单-->
		layui.config({
		    base: '/layui/' //这是自定义模块的路径了
		}).extend({
            index: 'lib/index' //主入口模块
// 		}).use('index');
		}).use(['index','element', 'common','menuBar','jquery'], function(){
			var menuBar = layui.menuBar(),$ = layui.jquery,element = layui.element;
		    menuBar.set({
		    	url:'/menu/load',
		    	elem:'#nav'
		    });
		    menuBar.render();
		    //设置主区模块高度
		    var mainHeight = document.documentElement.clientHeight - $('.layui-header').height() 
		    				- $('.layui-tab-title').height() - $('.layui-footer').height(); 
		    $('#LAY_app_body').height(mainHeight);
		});
	</script>
</body>

</html>