<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>登录页面</title>
	<link rel="stylesheet" th:href="@{/activityPage/login/css/shutter.css}">
	<link rel="stylesheet" th:href="@{/activityPage/login/css/denglu.css}">
	<link rel="stylesheet" th:href="@{/activityPage/login/css/public.css}">
  	<style>
		.logo{
	    	padding-left: 15%;
	    	padding-bottom: 36px;
			width: 141px;
			height: 34px;
			font-family: MicrosoftYaHei-Bold;
			font-size: 37px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 75px;
			letter-spacing: 0px;
			color: #33aba0;
		}

						
		/* 本例子css */
		
		.tishi{
			width: 112px;
			height: 15px;
			font-family: MicrosoftYaHei;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			line-height: 34.7px;
			letter-spacing: 0px;
			color: #eb2c2c;
			margin: 26px 0 0 53px;
		}
	</style>
</head>
<body>
	<!--整体内容开始-->
	<div class="denglu">
		<!--第一部分内容开始-->
		<div class="denglu-first1">
			<div class="denglu-first1-content">
				<div class="denglu-first1-content-left">
					<div class="logo">
						<span>拼图科技</span>
					</div>
					<div class="biaoti">
						<p>puzzle-technology</p>
					</div>
				</div>

			</div>
		</div>
		<!--第一部分内容结束-->

		<!--第二部分内容开始-->
		<div class="denglu-frist2">
			<div class="denglu-first2-content">
				<div class="denglu-first2-content-top">
					<div class="carousel">
						<div class="focusBox">
							<div class="bd shutter">
								<div class="shutter-img">
									<a target="_blank" href="#">
										<img  src="/activityPage/login/image/bg.jpg" />
									</a>
									<a target="_blank" href="#">
										<img  src="/activityPage/login/image/box_banner01.jpg" />
									</a>
									<a target="_blank" href="#">
										<img  src="/activityPage/login/image/turntable_banner01.jpg" />
									</a>
									<a target="_blank" href="#">
										<img  src="/activityPage/login/image/goldenEgg_banner01.jpg" />
									</a>
									<a target="_blank" href="#">
										<img  src="/activityPage/login/image/redEnvelope_banner01.jpg" />
									</a>
								</div>
								<ul class="shutter-btn">
									<li class="prev"></li>
									<li class="next"></li>
								</ul>
							</div>
							<div class="hd">
								<ul></ul>
							</div>
						</div>

						<!-- <script type="text/javascript">
							jQuery(".focusBox").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"top", autoPlay:true, autoPage:true, switchLoad:"_src" });
						</script> -->
					</div>
					<form th:action="@{/login}" method="post" id="loginBox">
						<div class="denglu-top-contents">

							<div class="denglu-top-contents-bottom">
								<div class="contents-bottom-neirong">
									<div class="contents-bottom-neirong-first1">
										<div class="hasMoreTab" style="margin: 0 auto">

											<div class="bd">

												<div class="conWrap">
													<div class="con">
														<div class="yonghuming">
															<input type="text" id="username" name="username"
																placeholder="用户名" required="required" class="shurukuang" />
														</div>
														<div class="yonghuming-mima">
															<input type="password" id="password" name="password"
																placeholder="密码" required="required" class="shurukuang" />
														</div>
														<div class="yonghuming_mima1">
															<div class="yonghuming_mima2">
																<input type="text" name="imageCode" placeholder="验证码"
																	required="required" class="shurukuang" />
															</div>
															<a href="#">
																<div class="yzmdx">
																	<img id="imgage" src ="/image/code"/>
																</div>
<!-- 																<div class="yzmdx">验证码</div> -->
															</a>
														</div>
														<div class="tishi">
															<span><p th:if="${loginError}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}" ></p></span>
														</div>
														<!-- <a href="#">
															<div class="denglu1">
																<p>登录</p>
															</div>
														</a> -->
														<div class="denglu1">
															<button type="submit" >登录</button>
														</div>
														

													</div>
													<!-- <div class="con">
														<div class="yonghuming">
															<input type="text" id="name" name="name" value=""
																placeholder="手机号" class="shurukuang">
														</div>
														<div class="yonghuming_mima1">
															<div class="yonghuming_mima">
																<input type="text" id="name" name="name" value=""
																	placeholder="验证码" class="shurukuang">
															</div>
															<a href="#">
																<div class="yzmdx">发送验证码</div>
															</a>
														</div>
														<div class="nicheng">
															<input type="text" id="name" name="name" value=""
																placeholder="昵称" class="shurukuang">
														</div>
														<div class="mima">
															<input type="password" id="name" name="name" value=""
																placeholder="密码" class="shurukuang">
														</div>

														<a href="#">
															<div class="denglu1">
																<p>登录</p>
															</div>
														</a>

													</div> -->
												</div>
											</div>

										</div>
									</div>
									<!-- <script type="text/javascript">
											jQuery(".hasMoreTab").slide({ mainCell:".conWrap", targetCell:".more a", effect:"fold"});
									</script> -->
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--第二部分内容结束-->
	<!--整体内容结束-->
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/login/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/login/js/shutter.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/login/js/velocity.js}"></script>
	
	<script th:inline="none" >
	   layui.use(['jquery','element'], function(){
		   var $ = layui.jquery
		   ,element = layui.element;
		    $("#imgage").on('click',function(){
		    	$("#imgage").attr("src","/image/code?"+Math.random());
		    });
		    
		    $('.shutter').shutter({
		    	shutterW: $('.focusBox').width(), // 容器宽度
		    	shutterH: $('.focusBox').height(), // 容器高度
		    	isAutoPlay: true, // 是否自动播放
		    	playInterval: 3000, // 自动播放时间
		    	curDisplay: 1, // 当前显示页
		    	fullPage: false // 是否全屏展示
			});
		    
	   });
	</script>
</body>
</html>
