<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>翻牌</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/activityPage/base/css/base.css}" />
    <link rel="stylesheet" th:href="@{/activityPage/card/css/turnOverCard.css}" />
	
</head>
<body class ="bodyClass">
	<input type="hidden" id="actId" th:value="${activity.id}">
	<input type="hidden" id="memberId" th:value="${memberId}">
	<input type="hidden" id="endTime" th:value="${activity.endTime}">
	<input type="hidden" id="beginTime" th:value="${activity.beginTime}">
	<input type="hidden" id="isUsed" th:value="${activity.isUsed}">
	<input type="hidden" id="mainActId" th:value="${mainActId}">
	<input type="hidden" id="inviter" th:value="${inviter}">
	
	<!-- 遮罩 -->
	<div id="shade"></div>
	
	<div class="bg">
		<div class="fill">
			<!-- 后退 -->
			<div class="backBtn">
				<img src="/activityPage/sign/image/back.png" />
				<span>返回</span>
			</div>
			
			<!-- 菜单按钮 -->
			<div class="menuBtn">
				<img src="/activityPage/goldenEgg/image/more.png" />
			</div>
			
			<!-- 菜单 -->
			<div class="menu"></div>
			
			<!-- 活动规则按钮 -->
			<div class="ruleBtn"></div>
			
			<!-- 查看奖品 -->
			<div class="checkReward">
				<img src="/activityPage/goldenEgg/image/check_reward.png" />
			</div>
			
			<!-- 活动时间 -->
		    <div class="ribbon">
		        <div class="activityTime">
		        	<div id="time">
		        		<span id="timeText">距离结束还有</span>
						<span class="time" id="day">0</span>天
						<span class="time" id="hour">0</span>时
						<span class="time" id="minutes">0</span>分
						<span class="time" id="seconds">0</span>秒
		        	</div>
					<div id="msg"></div>
		        </div>
		    </div>
		</div>
	    
	    <!-- 中奖公告 -->
	    <div class="scrollBar">
	    	<div class="bar">
	    		<img src="/activityPage/goldenEgg/image/suona.png">
	    		<div class="record" id="recordInfo">
	    			<!-- <div class="msg">
                    	恭喜，<span class="name">可爱的小丽</span>获得<span class="price">100元</span>大奖
                	</div> -->
				</div>
	    	</div>
	    </div>
	    
	    <!-- 翻牌 -->
	    <div class="redEnvelope">
	    	<div class="box">
	    		<div>
	    			<img src="/activityPage/card/image/card.png" id="redBag1" class="card">
	    		</div>
	    		<div>
	    			<img src="/activityPage/card/image/card.png" id="redBag2" class="card">
	    		</div>
	    		<div>
	    			<img src="/activityPage/card/image/card.png" id="redBag3" class="card">
	    		</div>
	    	</div>
	    </div>
	    
	    <!-- 翻牌次数 -->
	    <div class="times" >
	    	您还有<span id="times">0</span>次翻牌的机会
	    </div>
		
		<!-- 我的奖品 -->
		<div class="myReward">
			<div id="myReward">
				我的奖品
				<img src="/activityPage/card/image/icon.png">
			</div>
		</div>
		
		<!-- 中奖弹窗 -->
		<div class="gitReward">
			<div class="rewardCon"><!-- <div>恭喜你</div>获得aaaaaaaaaaaa --></div>
			<div class="closeBtn">我知道了</div>
		</div>
		
		<!-- 登录弹窗 -->
		<div class="login">
			<div class="nameBox">
				<input type="text" id="memberName" placeholder="请输入会员号/手机号">
			</div>
			<div class="loginBtn" id="login">
				<div>登录</div>
			</div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
		
		<!-- 规则弹窗 -->
		<div class="ruleBox" >
			<div class="centent" id="rule" th:utext="${activity.actRule}"></div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
		
		<!-- 中奖纪录弹窗 -->
		<div class="recordBox"  >
			<div class="centent" id="record">
				<!-- <div class="row">
					<div class="time">2019-02-04 12:45</div>
					<div class="reward">aaaaaaaaaaaaa</div>
				</div> -->
			</div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
		
		<!-- 查看奖品弹窗 -->
		<div class="rewardBox">
			<div class="centent">
				<div class="leftBtn">
					<img src="/activityPage/goldenEgg/image/left.png">
				</div>
				<div class="rewards">
				</div>
				<div class="rightBtn">
					<img src="/activityPage/goldenEgg/image/right.png">
				</div>
			</div>
			<div class="close">
				<img src="/activityPage/goldenEgg/image/close.png">
			</div>
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/layui/lay/modules/dateFormat.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/base/js/base.js}"></script>
	<script type="text/javascript" th:src="@{/activityPage/card/js/turnOverCard.js}"></script>
</body>
</html>